[2019-12-20 16:07] jmwright opened #1 "Compiling"
The build finished almost instantly, but didn't throw any errors. I'm not sure if I did something wrong or not. I copied `makefile` over from pywrap (all my cloned repos are in the same parent directory):
[code]
Then I ran `make`:
[code]
This is what `ls` shows:
[code]
Is that correct?

[2019-12-20 16:18] adam-urbanczyk commented on #1
I think you need to put the makefile in `src`

[2019-12-20 16:22] jmwright commented on #1
With makefile in `src` this is what I get:
[code]

[2019-12-20 16:49] adam-urbanczyk commented on #1
OK, I forgot to commit copy `OCP_specific.inc`

[2019-12-30 18:40] adam-urbanczyk commented on #1
I managed to setup a pipeline using azure. Code generation and compilation works. I publish the generated sources and makefile as an artifact. You could download and try it locally.

NB: for now the binary has some missing symbols - I'll try to experiment with different OCCT builds. One of them did work on my local machine

[2020-01-01 11:20] adam-urbanczyk commented on #1
It compiles and at least imports on azure: [![Build Status](https://dev.azure.com/cadquery/pywrap/_apis/build/status/CadQuery.pywrap?branchName=master)](https://dev.azure.com/cadquery/pywrap/_build/latest?definitionId=5&branchName=master).

[2020-01-01 14:12] adam-urbanczyk commented on #1
I added `OCP_specific.inc` - you should be able to compile locally as well.

[2020-01-02 13:13] jmwright commented on #1
It compiles now. How do I get set up to do the import? I see that a .so library file is created. I tried to run the python repl from within the src directory and then ran `import OCP`, but got the following error:
[code]
I'm guessing I'm missing a few steps.

[2020-01-02 18:49] adam-urbanczyk commented on #1
Great, it should import without issues. Could you try with pybind11 2.4.3 (latest release)?

[2020-01-03 06:13] adam-urbanczyk commented on #1
Note that I updated the `env.yml` file in the pywrap project.

[2020-01-03 13:06] jmwright commented on #1
It imports now using pybind11 2.4.3. Thanks!

What's the next step? Is it tracking down an OCCT build that has the missing symbols? When you say "build" [above](https://github.com/CadQuery/OCP/issues/1#issuecomment-569759963), do you mean a pre-built version, or are you compiling OCCT yourself?

[2020-01-04 18:53] adam-urbanczyk commented on #1
Note that I updated the env file. I use prebuilt OCCT. You can play around with the OCP branch of cadquery. I'm still working though on making some tests pass.

[2020-01-09 21:25] adam-urbanczyk commented on #1
@jmwright any updates? For me quite significant portion of CQ seems to be working on the OCP branch.

[2020-01-10 14:12] jmwright commented on #1
@adam-urbanczyk How did you set up OCP (or install the compiled libraries) so that the test suite on the branch can find the OCP imports?

[2020-01-10 14:45] jmwright commented on #1
Nevermind, I was over-thinking it. I got the tests to run.
[code]
I see some that just look like the function definition changed in the newer OCCT version (`incompatible function arguments`), but I also see `'Tesselator' is not defined`. I'm not sure if they just renamed it, or if they moved it to a new/different package.

I'm also wondering how we're going to replace the visualization infrastruct

[2020-01-10 17:00] adam-urbanczyk commented on #1
With the latest generated OCP (obtained by using HEAD of pywrap; also available as an artifact from azure) I get slightly better result
[code]

`Tesselator ` is a custom extension of PythonOCC (I'll probably need to reimplement it) and so is the visualization infrastructure. The latter is only used by CQ-editor and I want to implement it on python side because now (almost) all classes are exposed

[2020-01-12 03:16] jmwright commented on #1
Interesting, I get 6 errors on my Ubuntu 18.04 system.
[code]

[2020-01-12 03:17] jmwright commented on #1
Here's the last part of the test run log if that helps.
[code]

[2020-01-20 20:14] adam-urbanczyk commented on #1
I managed to go down to one error (x3d export) and AFAIR 6 failures. The OCP code is pushed to this repo and the OCP branch of CQ is also updated.

I am mostly happy with the binding process, there two things to improve(protected destructor handling in BRep_Font and return by value form iterators), but the whole project seems to be totally workable. I think I will tag this conf and try to generate

[2020-01-20 21:55] jmwright commented on #1
@adam-urbanczyk It's sounding good. When I tried to run the tests of the OCP branch of cadquery on Ubuntu 18.04 64-bit, I got the following error.
[code]
Please note that I just pulled the latest of what's on the OCP branch. I did not rebuild the conda environment.

[2020-01-20 22:35] jmwright commented on #1
I'll try rebuilding the environment from `pywrap/t1` when I get a chance and then report back on whether or not that fixes it.

[2020-01-21 02:53] jmwright commented on #1
I didn't realize `pywrap/t1` was an older release. I'm setting up a clean environment and will compile OCP from master, and then try to run the tests against that.

[2020-01-21 11:22] jmwright commented on #1
Ok, with OCP built from master, I get:
[code]
Here's the [X3D exporter from PythonOCC](https://github.com/tpaviot/pythonocc-core/blob/master/src/Display/WebGl/x3dom_renderer.py). It seems like our implementation of that exporter should be placed in [exporters.py](https://github.com/CadQuery/cadquery/blob/master/cadquery/occ_impl/exporters.py) rather than having it in OCP. I'm guessing [this line](

[2020-01-21 11:35] jmwright commented on #1
Actually, where did `jupyter_tools.py` come from? I don't see it in the codebase until the PythonOCC transition, and it doesn't seem like [jupyter-cadquery](https://github.com/bernhard-42/jupyter-cadquery) is using it.

[2020-01-21 19:33] adam-urbanczyk commented on #1
I wrote it AFAIR. There is no native x3d support in OCCT so I think this functionality should be removed. I'd like to wrap the OCCT glTF exporter though.

[2020-01-21 19:42] jmwright commented on #1
Yeah, glTF seems to be where the our community, and a lot of other projects, seem to be moving.

[2020-02-06 23:02] jmwright commented on #1
@adam-urbanczyk Where are you getting the pre-built versions of OCCT?

[2020-02-07 06:45] adam-urbanczyk commented on #1
I'm getting them from the conda-forge channel `conda install -c conda-forge occt` (cf. azure pipeline specification),

[2020-02-10 23:54] jmwright opened #2 "OCCT Quirks"
@adam-urbanczyk I'm about 80% of the way through a cqparts update (not counting documentation) to make it compatible with CQ 2.0. During that process, I've been using the OCP branch of CQ. I'm still fixing things, but I've noticed differences in bounding boxes, volumes, and one case where the number of polygons is different. This seems consistent with what you're seeing with OCCT 7.3.x. If it will

[2020-02-10 23:55] jmwright opened #3 "OCCT 7.4.x Update"
@adam-urbanczyk Please let me know when the 7.4.x version is ready to test.

[2020-02-10 23:56] jmwright commented on #1
I'm closing this issue now since I've pushed it way outside of it's original scope.

[2020-02-10 23:56] #1 closed

[2020-02-12 22:41] jmwright commented on #2
One of the most interesting assert failures is this one:
[code]
The tolerance is not having an effect on the polygon count, which I assume is related to [tessellation](https://github.com/jmwright/cqparts/blob/master/src/cqparts/codec/gltf.py#L506).

Here's the assert that fails: https://github.com/jmwright/cqparts/blob/master/tests/t_cqparts/test_codecs.py#L352

[2020-02-14 06:28] adam-urbanczyk commented on #2
Could you try with more extreme tolerance values?

[2020-02-14 06:30] adam-urbanczyk commented on #3
This is what I have for now. I think it is good enough for testing.

[code]

[2020-02-14 14:23] jmwright commented on #2
Switching to the following definitely does make the assert failure go away.
[code]
With `0.001` the polygon count is 396 instead of 200.

I'll just update that test. It seems like the tessellate functionality is working, it just doesn't act quite like the old one did. One other thing to note is that with OCCT 7.3.x tessellation doesn't seem to hang with high CPU utilization when the tolerance is s

[2020-02-14 18:21] jmwright commented on #3
Ok, I have the cqparts tests running with OCP generated and built from the latest pywrap master.
[code]
The errors are the same ones as with OCCT 7.3.x. I'll dig into those. What I'm less sure about is how to interpret the difference in values returned when using OCCT 7.x vs OCE. I guess I should probably assume that OCCT is more correct. Here are a couple of examples of asserts that failed.
[code

[2020-02-15 21:22] adam-urbanczyk commented on #3
I pushed one commit to the OCP branch (now "optimal" bounding box is used). It does solve one failure related to dimensions in the CQ test suite. I'd expect that it will have similar effect on cqparts.

[2020-02-16 02:26] jmwright commented on #3
Awesome, that dropped it down to one failure, and it's so close that it really shouldn't count. I'm inclined to change the assert to use 6 decimal places.
[code]

[2020-02-16 02:33] jmwright commented on #2
I'm going to close this issue and open issues for specific issues as needed.

[2020-02-16 02:33] #2 closed

[2020-02-16 02:35] jmwright commented on #3
I added `places = 6` to that specific `assertAlmostEquals` call. I'm down to only 4 errors with no assert failures.

Closing this issue to open more specific issues as needed.

[2020-02-16 02:35] #3 closed

[2020-02-24 22:40] jmwright opened #4 "Long-Term Plans"
@adam-urbanczyk With the imminent release of PythonOCC 7.4.0, what are the long-term plans for OCP? Are we planning to switch the CQ 2.0 codebase over to OCP, or will it simply remain an alternative to PythonOCC?

[2020-02-24 22:54] jmwright opened #5 "Tessellation Support"
I have been unable to get OCP's tessellation functionality to do what I could do with PythonOCC's `ShapeTesselator` class. I'll post some code below showing the current way some experimental code I have is working. With the OCP tessellator, the vertices and triangles are not tied together via their returned array structure, and normals aren't supported. I started porting PythonOCC's [ShapeTesselat

[2020-02-25 18:22] adam-urbanczyk commented on #4
I'd say it is still open. I see the following advantages:
* Faster tracking of OCCT (NB: 7.3 --> 7.4 conversion was really quick)
* More complete API
* More control, CQ specific solutions
* Modern binding technology (libclang+pybind11 vs SWIG)

Disadvantages:
* Additional work

I personally think it makes sense to go for it and I'm willing to do the work. But on the other hand I'd prefer not to pu

[2020-02-25 20:54] jmwright commented on #4
I can certainly see the advantages you mention above. Some people may see the lack of display functionality like PythonOCC has as a disadvantage. Personally, I see it as an advantage for CQ. The core of CQ should only concerned with generating the models. It's the execution environment's (CQ-editor, jupyter-cadquery, etc) responsibility to display the models. If someone really wanted to, they coul

[2020-02-26 02:14] jmwright commented on #5
Ok, I got a tessellator working for my purposes. The code above mainly just has to have calls like `.X()` changed to use the CQ Vector syntax of `.x`. This code is a bare-bones Python port of PythonOCC's tessellator found here: https://github.com/tpaviot/pythonocc-core/blob/master/src/Tesselator/ShapeTesselator.cpp

My code has not been cleaned up, and has lost a lot of the robustness the PythonOC

[2020-02-26 02:14] #5 closed

[2020-02-26 03:40] jmwright commented on #5
Sorry, I keep saying "OCP's tessellation", when it's really `Shape.tessellate` in CQ that I couldn't get what I needed from. The above code does that I need, and it's posted here in hopes that it might be useful.

[2020-03-21 23:34] adam-urbanczyk commented on #4
In the meantime I got Windows and Mac builds working:

https://github.com/CadQuery/OCP/releases/tag/7.4-alpha

[2020-03-27 16:57] frmdstryr commented on #4
Just found this repo, looks great!

Are there any plans on releasing it on conda and/or pypi?

[2020-03-27 17:13] adam-urbanczyk commented on #4
Yes, definitely conda package, maybe a wheel. You could be also interested in the project that generates OCP https://github.com/CadQuery/pywrap .

[2020-03-27 17:23] frmdstryr commented on #4
Sounds great! Once it's released I'd like to give it a try.

Yes I saw pywrap as well, looks similar to how [OCCT](https://github.com/LaughlinResearch/pyOCCT) does it, although that project seems to have stopped development.

[2020-03-27 17:40] adam-urbanczyk commented on #4
Pywrap/OCP was actually inspired by pyOCCT. I started working on pywrap before pyOCCT_binder was open sourced.

[2020-03-27 17:43] adam-urbanczyk opened #6 "Move OCP specific CI to this repo"

[2020-03-27 17:44] adam-urbanczyk opened #7 "Build conda packages"

[2020-03-29 15:06] adam-urbanczyk opened #8 "Expose GLTF"
Based on https://github.com/CadQuery/pywrap/issues/12

[2020-04-10 06:57] adam-urbanczyk opened #9 "BRepGProp::LinearProperties missing in the OSX version"
The function seems to be removed in the "filter" step, it is present before. In the filter step I assumed that name mangling is the same on linux and OSX  check if this assumption always hold.

[2020-04-10 08:39] jmwright commented on #9
Reference: https://github.com/CadQuery/cadquery/issues/302#issuecomment-610024628

[2020-04-10 20:40] adam-urbanczyk commented on #9
Mangling seems to be slightly different:

OSX:
`__ZN9BRepGProp16LinearPropertiesERK12TopoDS_ShapeR12GProp_GPropsbb`
Linux:
`_ZN9BRepGProp16LinearPropertiesERK12TopoDS_ShapeR12GProp_GPropsbb`

[2020-04-16 19:22] michaelgale opened #10 "BRepAlgoAPI_Fuse missing methods inherited from BOPAlgo_Options"
I've been experimenting with the OCP branch of CadQuery and testing my homegrown CQ modelling tools.  Some of my tools access methods directly in the OCE / OCCT kernel.  In particular for "fuzzy" boolean fuse operations, I require setting the fuzzy tolerance value in OCCT.  In OCCT <7.0, `SetFuzzyValue` was inherited by `BRrepAlgo_Fuse`, in versions >=7.4, it appears it is a protected member of `B

[2020-04-16 20:16] adam-urbanczyk commented on #10
It is already solved, use the latest binary from the azure pipeline. I'm setting up automated conda uploads but int will take a couple of days.

[2020-04-16 20:59] michaelgale commented on #10
That's great news, thank you.  In the meantime, I've been using a workaround of setting up a generic `BOPAlgo_BOP` class with a Fuse operation which exposes the `SetFuzzyValue` method.

[2020-04-17 15:16] michaelgale commented on #10
@adam-urbanczyk FYI, based on my preliminary integration of CQ with OCCT 7.4 / OCP, I am seeing unbelievable performance gains!  For example, one complex model that would take almost 30 minutes to render, now takes 3.5 minutes!  Furthermore, I am seeing less "fragility" of boolean operations which would result in 3D solids disintegrating or with ugly artifacts.  The migration to 7.x OCCT is well w

[2020-04-17 17:23] adam-urbanczyk commented on #10
Glad to hear @michaelgale , part of the gain could also be from https://github.com/CadQuery/cadquery/pull/312

[2020-04-19 08:26] zignig opened #11 "Merged lib"
Is it possible to merge  the cadquery with the ocp binaries to make a single .so with all the references ?

[2020-04-19 09:50] adam-urbanczyk commented on #11
If I understand you correctly you'd like to embed CQ code in the OCP so file. I think it could be done using some pybind11 tricks https://pybind11.readthedocs.io/en/master/advanced/pycpp/utilities.html#evaluating-python-expressions-from-strings-and-files but I never done it.

[2020-04-19 11:06] zignig commented on #11
I just thought it would be cool to have a single binary for distribution.

[2020-04-19 19:24] adam-urbanczyk commented on #7
Done, packages available via our channel:
https://anaconda.org/CadQuery/ocp

[2020-04-19 19:24] #7 closed

[2020-04-19 20:35] jmwright commented on #7
Thanks @adam-urbanczyk !

[2020-04-22 06:12] adam-urbanczyk commented on #9
Solved in the latest version, see this dummy PR for confirmation: https://github.com/CadQuery/cadquery/pull/329

[2020-04-22 06:12] #9 closed

[2020-04-22 17:00] adam-urbanczyk commented on #10
`SetFuzzyValue` and related are available in the latest conda build.

[2020-04-22 17:00] #10 closed

[2020-04-25 01:09] jmwright opened #12 "'OCP.BRepAlgoAPI.BRepAlgoAPI_Cut' object has no attribute 'SetRunParallel' Error"
I'm running the latest in the OCP branch of CQ (as of when this is written), and the OCP*.so file downloaded from the release page. Ubuntu 18.04 64-bit. When I try to cut text from a box in the following way, I get the error below. This works in the pre-built release version of CQ-editor.
[code]

[code]

[2020-04-25 03:30] jmwright commented on #1
@adam-urbanczyk What's the process to compile this locally now? I can't find the pywrap makefile I used before.

[2020-04-25 07:24] adam-urbanczyk commented on #12
The release is outdated. Latest packages are on our conda channel.

[2020-04-25 17:44] #12 closed

[2020-04-25 17:55] jmwright commented on #1
Please ignore the previous question. I haven't tried to build OCP in awhile and forgot the workflow. I've got it figured out now.

[2020-04-25 18:35] adam-urbanczyk opened #13 "Build for multiple python versions"
Currently CI builds for python 3.7 only - add a loop in the template to build for 3.6, 3.7, 3.8

[2020-04-25 18:36] adam-urbanczyk opened #14 "CocoaWindow has no constructor"

[2020-04-25 20:45] frmdstryr opened #15 "Some modules/bindings missing..."
Hi! Glad to see OCP has been released!

I tried porting [DeclaraCAD](https://github.com/codelv/declaracad) to OCP with just a find and replace and hit a few errors.

Version:
[code]

A few errors (after commenting some things out to try and catch others)

[code]

Does OCP add bindings for static members in a different way than pyOCCT?

If there's any way I can help test in the future let me know,

[2020-04-25 22:09] adam-urbanczyk commented on #15
From the top of my head:

(1) I did not wrap the nested iterators but there should be an `__iter__` method exposed
(2) STEPCAFControl is not wrapped at the moment
(3) Static methods end with `_s`

[2020-04-26 18:35] adam-urbanczyk commented on #15
@frmdstryr regarding `TopTools_ListIteratorOfListOfShape` I see that you are using it here:
https://github.com/codelv/declaracad/blob/ec6d05eeece2a5b3785cfc4f90c9ab3cf4051323/declaracad/occ/impl/occ_shape.py#L110
it should be possible to skip it completely:
[code]

[2020-04-26 18:55] adam-urbanczyk commented on #15
BTW: I'll try wrapping `STEPCAFControl` once #14 is solved. If you want to help you could try generating and compiling bindings with this module added to the conf file (`ocp.toml`)

[2020-04-27 22:53] frmdstryr commented on #15
Ok, I gave another try. Iterating over the `occ_seq` as you mentioned is working well. Replacing `_s` is also working. Do you happen to know what convention python-occ uses?

Hit one more error...

[code]

But after commenting out that everything else seems to be working.

Nice work!

[2020-04-29 19:53] adam-urbanczyk commented on #14
Solved in https://github.com/CadQuery/OCP/commit/e679c7cef5c8ec6a97726e9f82c8d66ba9ca57e2

[2020-04-29 19:53] #14 closed

[2020-04-30 18:04] adam-urbanczyk commented on #15
@frmdstryr I added `STEPCAFControl` in https://github.com/CadQuery/OCP/commit/8aaad0eb0cf2fcb577a91f64ac4f77ad7610d6f7, azure should be finished in a couple of hours and then you can just pull the conda package from our channel. Let me know how it works. If you have access to osx I could use some help in testing the UI related functionality in OCP (`Cocoa_Window` and related).

Some of the fields

[2020-05-05 21:46] jmwright commented on #15
It seems like the `Interface_Static` binding may be missing as mentioned [here](https://github.com/CadQuery/cadquery/pull/329#issuecomment-623048457).

[2020-05-17 03:26] jmwright commented on #15
Please ignore my post about `Interface_Static`. It's not `OCP.Interface_Static`, it's `OCP.Interface.Interface_Static` which is present.

[2020-05-28 13:48] jmwright opened #18 "Requesting New Alpha-Beta Release"
Would it be possible to get a new release, even if it's still a pre-release? It's to solve the issue with the FreeBSD ports system compiled version not working because of using the outdated alpha release.

https://groups.google.com/d/msg/cadquery/lFQ-3_gZ2cI/3a_cGH22AAAJ

[2020-05-28 16:05] adam-urbanczyk commented on #18
Solved: https://github.com/CadQuery/OCP/releases/tag/7.4-RC1

[2020-05-28 16:05] #18 closed

[2020-05-28 16:24] jmwright commented on #18
Thanks @adam-urbanczyk !

[2020-05-29 08:03] bragostin opened #19 "Build from sources"
Thank you for this formidable job, can't wait to try it! I am trying to build OCP from sources, as it is stated that "Building from sources is also possible, for details take a look at azure-pipelines.yml", but I am struggling.
I already have a stable python environment under Debian 10 so that using Conda is not really appealing to me.
I should be able to use cmake to install OCP but somehow I am

[2020-05-29 13:12] jmwright commented on #19
I'd wait for @adam-urbanczyk to give the official answer, but here's what I do.

You should be able to grab [an OCP release](https://github.com/CadQuery/OCP/releases/tag/7.4-RC1) and do this:
[code]
However, it complains about my cmake version (wants 3.16, I had 3.10 on my Ubuntu 16.04 install). I had to alter the line pinning the version of cmake in CMakeLists.txt inside the Ubuntu 16.04 release

[2020-05-29 15:24] adam-urbanczyk commented on #19
To save time I'd seriously consider installing conda to a local dir (in this example `~/miniconda`):
[code]
Then activate it like so:
[code]
If you insist on building then easiest is to pull source from the release zip and use cmake:
[code]
You'll likely need to solve some issues with cmake not being able to find all the dependencies (python, pybind11, OCCT) and such.

I would not recommend going

[2020-05-30 07:11] bragostin commented on #19
@jmwright @adam-urbanczyk

I started by exploring the building from sources option and I think I am really close:
In ``CMakeLists.txt`` I changed:
``cmake_minimum_required( VERSION 3.13 )``
In ``FindOpenCascade.cmake`` I modified the OpenCascade path to:
``/usr/local/include/opencascade``
Then running ``cmake -B build_dir -S "." -G Ninja && cmake --build build_dir``
it does the compiling and produ

[2020-05-30 08:02] adam-urbanczyk commented on #19
Before trying CQ I'd run this in the output folder:
[code]
just to verify that your so is correct. In the end, you need to put it somewhere in the `PYTHONPATH`. Note that the so is python version specific (in your case it is for 3.7).

[2020-05-30 09:06] bragostin commented on #19
``python -c "import OCP"`` gives
``ImportError: /home/bruno/Downloads/CadQuery/OCP_7.4/OCP-master/OCP/build/OCP.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZNK17BRepBlend_AppSurf7SurfaceER18NCollection_Array2I6gp_PntERS0_IdER18NCollection_Array1IdES8_RS6_IiESA_``

I guess it's a problem with my OpenCascade 7.4 install. That's too complex for me to solve, I'll take your advice and try minic

[2020-05-30 11:45] bragostin commented on #19
Victory! I simply recompiled OpenCascade 7.4 and now OCP loads seamlessly. I just ran ``Ex001_Simple_Block.py`` and I get my simple block. Thanks for all the advice!

[2020-05-30 12:15] #19 closed

[2020-06-09 07:41] bragostin opened #20 "TopTools_DataMapIteratorOfDataMapOfShapeShape not in OCP.TopTools"
I am trying to import ``TopTools_DataMapIteratorOfDataMapOfShapeShape`` (https://www.opencascade.com/doc/occt-7.4.0/refman/html/_top_tools___data_map_of_shape_shape_8hxx.html#a61da0422c6bddef13d54239baf54be23)
[code]
but it does not seem to be there:
``ImportError: cannot import name 'TopTools_DataMapIteratorOfDataMapOfShapeShape' from 'OCP.TopTools' (unknown location)
``

Is it to be expected?

[2020-06-09 16:56] adam-urbanczyk commented on #20
I'd need to dig a little to be sure, but these kind of typdefs were often omitted due to compilation issues.  How/where would you like to use such an interator?

[2020-06-09 17:50] bragostin commented on #20
@adam-urbanczyk
OCP 7.4 has already solved a lot of issues for me, and it opens new perspectives. Now I am trying to union triply periodic fins with straights walls in the most efficient way. Here is what I tried:
- standard union now works quite fast, if I shave the sides of the fins to be flush with the walls (with OCC 6.9 the shaving stage was already crashing)
- with these flush surfaces gluin

[2020-06-09 18:26] adam-urbanczyk commented on #20
Could you paste a link to the `JoinConnect` implementation? Maybe it can be done without the offending iterator.

[2020-06-09 18:46] bragostin commented on #20
It's there: https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Part/BOPTools/JoinAPI.py
I am quite convinced it can be done without TopTools_DataMapIteratorOfDataMapOfShapeShape now.

[2020-06-09 19:15] adam-urbanczyk commented on #20
Here, I think, is the underlying C++ part https://github.com/FreeCAD/FreeCAD/blob/da4baa74efeac8cd1eb6008c3c549c7d06afbf11/src/Mod/Part/App/TopoShape.cpp#L1950 .
 Looks like they are using `BRepAlgoAPI_BuilderAlgo`. It has an API just like any other bool op. You need the `TopTools_ListOfShape` class which can be iterated over in the normal python way (i.e. `for el in X:`).

[2020-06-10 02:10] marcus7070 opened #21 "g++-8 is not present in Ubuntu 16.04 repos"
I'm trying to recreate the environment and build process from the various yaml files (in order to package it in Nix) and I'm getting confused.

The `build-bindings-job.yml` contains:
[code]
The Ubuntu 16.04 repo does not contain g++-8: https://packages.ubuntu.com/search?keywords=g%2B%2B-8
Running `sudo apt-get install g++-8` in a fresh Ubuntu 16.04 server results in some combination of gcc5 and cl

[2020-06-10 02:18] marcus7070 opened #22 "What errors are expected during build?"
@adam-urbanczyk, can you share a build log from the 7.4-RC1 build or similar? Including the pywrap phases please.

When I try to recreate your build process I get a heap of warnings and errors but I suspect most of them are actually acceptable. Being able to compare them against the standard build would be a big help.

[2020-06-10 05:16] marcus7070 opened #23 "License?"
No hurry, but if I ever get around to getting OCP packaged up for Nixpkgs I need to have the correct license for it.

[2020-06-10 06:03] adam-urbanczyk commented on #21
I also don't know how the azure images are constructed. This ppa seems to be of interest: https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test. I principle it should build with any C++17 compiler provided that it will be compatible with what was used to build OCCT.

[2020-06-10 06:07] adam-urbanczyk commented on #22
The logs of azure ci are publicly visible, you can take a look here:
https://dev.azure.com/cadquery/OCP/_build/results?buildId=546&view=results

Indeed there will be quite some warnings/errors in the C++ code generation phase. You could pull the sources from github release to be sure that you start with the same code.

[2020-06-10 06:27] marcus7070 commented on #21
Thanks. Nixpkgs builds OCCT with gcc9 and it works fine, so I'll just use that.

I found this: https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1604-README.md
That is a surprising amount of extra packages.

[2020-06-10 06:27] #21 closed

[2020-06-10 06:34] marcus7070 commented on #22
Perfect, thanks. And thanks for setting out the job stages so cleanly, these logs are easy to read.

[2020-06-10 06:34] #22 closed

[2020-06-10 06:38] adam-urbanczyk commented on #22
NB: you can also find the intermediate results for every build in the artifacts:
https://dev.azure.com/cadquery/OCP/_build/results?buildId=546&view=artifacts&type=publishedArtifacts
It is sometimes handy for debugging.

[2020-06-10 06:39] adam-urbanczyk commented on #23
I'll add Apache 2.0 or LGPL2 .

[2020-06-10 10:02] bragostin commented on #20
@adam-urbanczyk  thank you, that's very helpful!

[2020-06-10 10:02] #20 closed

[2020-06-13 06:14] marcus7070 opened #24 "CadQuery's DXF import test fails under NixOS"
I doubt anyone will be able to recreate this error, but it's so weird I thought I'd mention it here incase anyone has any advice.

The complete CadQuery test suite from commit https://github.com/CadQuery/cadquery/tree/f9fe7b1b842bce3a590ec8e6a1becdc2f04bd054 passes with OCP under NixOS, except `testImportDXF`.

Stepping through with `pdb`, everything looks to be going well up to https://github.com

[2020-06-13 09:00] adam-urbanczyk commented on #24
Assuming you are using RC1, could you try with HEAD?

[2020-06-13 11:19] marcus7070 commented on #24
Thanks, https://github.com/CadQuery/OCP/commit/0059e425875fb6fa3e8b3f0335c9d08924e6726c solves the problem!

[2020-06-13 11:19] #24 closed

[2020-06-13 12:00] adam-urbanczyk commented on #24
Good I'll mark it as RC2. BTW: `ConnectEdgesToWires` has a weird interface on the C++ side - pointers passed by reference.

[2020-07-10 11:38] #11 closed

[2020-07-19 16:53] adam-urbanczyk commented on #13
Solved in https://github.com/CadQuery/OCP/commit/a2b9259d5a927389908b63b7ff247bc23e13a93e

[2020-07-19 16:53] #13 closed

[2020-07-19 16:57] adam-urbanczyk commented on #4
CQ is based on OCP now and is a conda package provided. The ambition is to switch to OCCT 7.5 when it is released.

[2020-07-19 16:57] #4 closed

[2020-07-19 16:58] adam-urbanczyk opened #25 "Change pybind11 version to one compatibile with Netgen"
This will enable using the newly provided interface in Netgen.

[2020-08-24 18:20] adam-urbanczyk commented on #23
Apache 2.0 it is.

[2020-08-24 18:20] #23 closed

[2020-10-06 21:29] Grawp opened #27 "Provide standard build system/script to/and facilitate standard packaging"
I absolutely hate **conda** package manager. Not only it does not play well with existing OS packages whether binary or python, it also by **default** pollutes or even break one's environment in a very **perverted** way which is exactly what at least one other user stated in https://github.com/CadQuery/cadquery/issues/153 .

Having said that I decided to try to improve the experience for myself an

[2020-10-07 18:00] adam-urbanczyk commented on #27
I, on the contrary, like conda a lot and it saved me months of work by now. My advice is to use pure local install and do not do any magic `conda init` stuff. That way your environment will be untouched.

As stated in the README, if you want to build locally you'll need to understand what is in the `azure-piplines.yml`. The code of OCP is generated by pywrap (which BTW generates a cmake file too).

[2020-10-15 17:27] adam-urbanczyk opened #29 "Check OCCT 7.5 beta"
https://git.dev.opencascade.org/gitweb/?p=occt.git;a=commit;h=278da162dc52c26c8cfe9d002a6f07db12405194

[2020-10-22 00:38] Franck78 commented on #27
Hello,

I'm running without conda. Not sure i will get something out one day....

* python 3.6.10
* clang 9.0.1
* gcc 7.5

Anyway, it looks like some OCCT headers are not 'compiled' well and it's disturbing. You flagged them Warnings so I think it should produce something in the end.

[code]

[2020-10-22 09:24] Franck78 commented on #27
@Grawp ,
are you working on something about that (avoiding conda) ?

ok, .OCP full of new c++ and the CMakelists.txt

Next step: get something out of Cmake/make

[2020-10-22 09:42] Grawp commented on #27
@Franck78 Yes, I've started working on that although just very recently so don't expect results tomorrow :D
My goals are to:
- Write a proper build script Make or CMake (since the CMake is already being used for a part of the build).
- Remove all hard-coded paths like https://github.com/CadQuery/pywrap/blob/45cf3240ededaead2e7ea60dcecc9c5cb157e0c6/bindgen/utils.py#L58 (in this case `Config.set_lib

[2020-10-22 11:05] Franck78 commented on #27
good.

for now I run basic, run.sh is from pywrap, notice I force 3 time 'python3':

[code]
with

* copy the 'bindgen' directory from pywrap (why isn't it already here....)
* patch bindgen/utils.py to suit opensuse Leap42:
* add ninja to the list of required packages

[code]

CMakeLists.j2:  force python3. Why is my opensuse still installing python2 and making it 'default'......

[code]

FindOpenC

[2020-10-22 12:31] Franck78 commented on #27
probably consequence of warnings in phase 2 (bindgen transform)

[code]

[2020-10-22 17:01] adam-urbanczyk commented on #27
@Grawp improvements are welcome. If you want to contribute I'd have some suggestions:

1) Please use cmake, we are targeting 3 platforms here.
2) Indeed pywrap has some relative paths hardcoded based on the conda env layout, I think the best way would be to expose those to the CLI and use the current values as defaults. I don't know how well find_package works in different situations (Windows)
3)

[2020-10-22 17:02] adam-urbanczyk commented on #27
@Franck78 you can compare the results with the azure CI run (there are warnings being generated there as well). Intermediate results are available as pipeline artifacts.

[2020-10-22 17:20] Franck78 commented on #27
"with the azure CI run" sometime I understand, sometimes it is pure chineese. ;)

Anyway, final result of " cmake --build build -j1  -- -k 0" is clear
[code]
If you have that(OCP) produced under the conda env, then, some kind of include file is bad between gcc clang python3 on openSuse.

[2020-10-22 18:03] adam-urbanczyk commented on #27
I meant, here you have the intermediate results: https://dev.azure.com/cadquery/OCP/_build/results?buildId=820&view=artifacts&type=publishedArtifacts

[2020-10-22 19:38] Franck78 commented on #27
python -m bindgen -n 7 -v generate ocp.toml out_f.pkl

ok, i have ~ the same errors/warnings at the beginning. That doesn't bother you ?

Outputs are not the same between my thing and azure. There is no 'bindgen' module in the OCT git repository
Maybe I'm wrong since  the beginning and Pywrap repo is good and OCT repo is 'well, something'  ?

[2020-10-22 19:57] adam-urbanczyk commented on #27
Feel free to improve things here.

Pywrap is a submodule of this repo, not sure what you mean here.

[2020-10-22 20:36] Franck78 commented on #27
Oh, I'm sure you tried before me to fix them. Not a fan a c c++ and the includes headers and the syntax .

It make no sense to me. Why would the thing process hundred of headers and suddenly decree "I know nothing about
TColStd_HArray1OfReal"

[code]

grep (on the OCCT headers) returns tons of use of this name. Why one error.

[2020-11-02 11:50] greyltc commented on #27
I hate it more! ;-) Too bad it seems we can't convince @adam-urbanczyk to hate it with us!
@Grawp Like you, I loath conda. I've spent a lot of time and effort to understand how this is built and how I can strip the conda garbage out of it so that I can package it properly for the Arch Linux family. I doubt I've done this all the best way possible, but at least I have it all working right now. I'm

[2020-11-02 12:10] Grawp commented on #27
@greyltc I've already used your PKGBUILD as a reference! It helped me understand how the OCP should be build.
Sorry it is taking too long. I haven't had much time and I need to learn CMake first.

Btw. @adam-urbanczyk Are you aware that `FindOpenCascade.cmake` in OCP and pywrap repositories are conceptually redundant or even wrong since OpenCASCADE installations on their own bring their own cmake

[2020-11-02 12:22] greyltc commented on #27
Great. I'm glad you're aware of it. The fewer people reinventing wheels, the better!

[2020-11-02 16:29] adam-urbanczyk commented on #27
@greyltc @Grawp  I'm very much against using language like "hate","garbage","perverted" with respect to others people hard work. If you don't like conda, don't use it. If there are ways to improve OCP or pywrap please open a PR (see my comment above for details).

@Grawp if the the cmake file is wrong, then don't use it. It does produce a working result for me. I'd rather expose the paths as an co

[2020-11-02 17:54] greyltc commented on #27
@adam-urbanczyk
We're all working hard to give the community free and cool stuff and maybe none of us are even getting compensated in any way for our efforts! I have no doubt that we all want to do this work in the most efficient way. I apologize for offending you with my expression of dislike for anaconda. I didn't mean to direct that at you or this project. I used those strong words because I ge

[2020-11-02 19:02] Grawp commented on #27
**Everything** what @greyltc said.
And I'd like to apologize for my wording. I really went over what would be considered constructive criticism.

Maybe I've misunderstood so please forgive me for possibly unnecessarily stating that:
I do not mean for pywrap/bindgen to call cmake. That would make things even worse. Exactly the opposite. CMake should either:
- Call the pywrap with correct paths as C

[2020-11-03 19:47] adam-urbanczyk commented on #27
@greyltc just to be clear, I don't think conda is to be blamed for anything. I'd never be able to set up all this without it (and conda-forge) given the time I have.

I'm very well aware of the existence of PythonOCC. The problem is not inspiration or knowledge (i.e. how), it's rather the resources (i.e. when). If you want to contribute said universal CMakeLists.txt for this project I'll merge it,

[2020-11-03 20:01] greyltc commented on #27
You might be suprised by how much improvement the CI tools on GitHub and GitLab have seen recently! They're pretty powerful and easy to use these days.

Knowing you'd be willing to merge something like that is great.

[2020-11-11 18:36] #29 closed

[2020-11-16 15:45] greyltc opened #31 "header file mismatch"
The header files in the opencascade folder here don't seem to match those I have for my system opencascade install.
[code]
Is that on purpose?
I'm able to complete the build with the modified headers here, but not the ones released in the official opencascade 7.5 source tarball.

[2020-11-16 15:51] greyltc commented on #31
Seems like the problem might be this commit: https://github.com/CadQuery/OCP/commit/6d4f0b28104cc4b3820fb3102bd439f5205d3ee5

[2020-11-16 16:04] greyltc commented on #31
Here is how my build breaks when I try to build without that modification to ShapeFix_Solid.hxx :
[code]

[2020-11-16 16:10] adam-urbanczyk commented on #31
Yes it is on purpose, otherwise I would not include the headers here.

[2020-11-16 16:14] greyltc commented on #31
Is there some other way this issue can be solved without modifying the headers?

[2020-11-16 16:17] adam-urbanczyk commented on #31
Modify headers on the fly, If someone implements it in the wrapper generator.

[2020-11-16 16:23] greyltc commented on #31
Seems like there could be runtime issues if the wrapper is operating on headers that are not the ones that the opencascade .so files, are built from, no?

[2020-11-16 16:27] greyltc commented on #31
Do I need to build a modified version of opencascade for use with CadQuery?

[2020-11-16 16:39] greyltc commented on #31
I think I'm getting a bit confused by this similar convo we had about the opencascade headers in pywrap where you told me the headers included there were not modified and were only included for testing:

https://github.com/CadQuery/pywrap/issues/22

[2020-11-16 20:48] adam-urbanczyk commented on #31
The header modification is new for 7.5. Long story short, it did not parse proprely without it. Note that the modification is just a forward declaration of a class defined in another header, I'm using a stock build of OCCT.

Pywrap is (one day will be...) a generic binding generator. This repo contains all the input files and CI configuration used for building OCP.

[2020-11-19 07:14] adam-urbanczyk opened #32 "Tag final version of 7.4"

[2020-11-19 07:18] adam-urbanczyk commented on #31
Do you have further questions / alternative ideas how to solve this or should I close the issue @greyltc ?

[2020-11-19 17:30] greyltc commented on #31
I don't really have much of substance to add. I don't understand why the header mods are required in the first place and I don't understand why wrapping modified headers wouldn't cause runtime issues when the precompiled binaries aren't aware of the header mods that are being made here.

If these header modifications can cause runtime issues, I'd say this should stay open until that's fixed.

[2020-12-03 15:43] nealie opened #33 "Unable to build on FreeBSD"
Since the FreeBSD opencascade port has been updated to 7.5.0 my port of OCP 7.4 using pre-generated files no longer works, so I thought it was time to revisit trying to get it all to generate using bindgen. Unfortunately this still does not work for me, so I thought this was a more suitable forum than the google groups to try and work out why it's failing.

I've attached a log of my failing build,

[2020-12-10 07:33] adam-urbanczyk commented on #33
Thanks, we'll switch to 7.5 after CQ2.1 is released. I'll look into this later. Note that you have to use the headers included in this project (AFAIR I did one forward declaration to be able to compile).

[2020-12-11 15:20] nealie commented on #33
Thanks for the tip. I was compiling against the headers installed on the system. I've changed that now and I get the following error on the first file being compiled (which is different to before):

`FAILED: CMakeFiles/OCP.dir/Aspect.cpp.o
/usr/bin/c++ -DOCP_EXPORTS -I/usr/home/nealie/ports/cad/py-ocp-pywrap/work/OCP-7bf1e8d/OCP -I/usr/home/nealie/ports/cad/py-ocp-pywrap/work/OCP-7bf1e8d/opencasca

[2020-12-21 15:17] bragostin opened #35 "Compiling 7.5 from sources"
I was trying to compile from sources on Debian 10 following the same procedure as in #19 using
`cmake -B build_dir -S src_dir -G Ninja && cmake --build build_dir`
but there does not seem to be a `CMakeLists.txt` in OCP-7.5-RC1.
I tried using that of OCP_src_Ubuntu-16.04 in 7.4-RC2 but it does not work.
I imagine the compiling procedure has changed?

[2020-12-21 15:26] adam-urbanczyk commented on #35
Nothing changed AFAIK. What are the steps to reproduce this?

[2020-12-21 15:43] bragostin commented on #35
From the OCP-7.5-RC1 directory and after creating the `build` directory
`cmake -B build -S . -G Ninja && cmake --build build
CMake Error: The source directory "/home/bruno/Downloads/CadQuery/OCP_7.5/OCP-7.5-RC1" does not appear to contain CMakeLists.txt.`
With 7.4 `CMakeLists.txt` was present in the source directory and compiling worked fine after modifying some paths to required libraries to suit

[2020-12-21 15:55] adam-urbanczyk commented on #35
OK I understand what you mean now. Nothing changed but I did not attach manually the generated sources (there is one manually added file in 7.4 but non in 7.5). If you want to build right away you need generate them using pywrap.

[2020-12-21 16:05] adam-urbanczyk commented on #35
Here are some pointers: https://github.com/CadQuery/OCP/issues/27#issuecomment-705101291

[2020-12-25 11:39] adam-urbanczyk commented on #27
You can now specify libclang location and headers as command line parameters. Additionally pywrap is pip-installable and provides a `pywrap` command:
[code]

[2020-12-25 12:14] bragostin commented on #35
I close this one because I ran into the exact same issues as #27 and was not able to solve them.
However I finally installed a miniconda environment (which can be done through Debian apt package manager nowadays) and I now have OCP 7.5 installed and it did not break my native Debian python environment. So hurrah!

[2020-12-25 12:14] #35 closed

[2020-12-25 15:28] adam-urbanczyk commented on #35
Glad to hear. For my info, what was blocking for you regarding compilation?

[2020-12-25 16:10] bragostin commented on #35
In the end I get the same error message than in #27
[code]

[2020-12-25 18:00] greyltc commented on #27
Nice! I'll try this out on my build shortly

[2020-12-25 18:36] bragostin commented on #35
Although, I just noticed, installing OCP 7.5 conda downgraded cadquery master to cadquery 2.0...
Looks like I can have cadquery master only with OCP 7.4.
Is that to be expected?

[2020-12-26 10:55] adam-urbanczyk commented on #35
Yes, for now CQ does not work with 7.5. You 'd have to edit it by hand here and there.

[2020-12-26 13:25] bragostin commented on #35
That's right. For the record I did the following steps to have OCP 7.5 working with Cadquery master:
[code]
and comment line 151 of shapes.py (`Font_BRepTextBuilder,`)

[2020-12-26 15:31] adam-urbanczyk commented on #35
Yes, AFAIR text related functionality needs fixing.

[2021-01-02 14:08] adam-urbanczyk commented on #27
FYI: I found some issues with the code, but all should be fixed in #37 .

[2021-01-02 14:09] adam-urbanczyk commented on #33
Could you try again with the latest master and also share all the logging form the first phase (`parse`)?

[2021-01-02 15:22] greyltc commented on #27
Thanks @adam-urbanczyk, is there a CI build script or something you can point me to that uses the new system that I can use as a reference for updating my packaging?

[2021-01-02 17:06] adam-urbanczyk commented on #27
This should do on the latest master:
[code]
Of course depending on the env you might need to use the additional `-i` and `-l` options for pywrap (as mentioned above).

[2021-01-02 17:20] adam-urbanczyk commented on #31
Forward declaration has no consequences in runtime - closing.

[2021-01-02 17:21] adam-urbanczyk commented on #31
Actually I can do it on the fly now via the settings file - reopening.

[2021-01-04 17:15] nealie commented on #33
I've updated my port to use the latest prwrap and OCP and with the addition of a few more command line switches to pywrap, everything seems to have gone well. The generated files compile and I at last have a locally generated OCP. Awesome.

The only thing that concerns me is right at the end where some QA tests are done by the ports infrastructure and it complains that various opencascade librarie

[2021-01-04 18:00] nealie commented on #33
I also get the following error when trying to run the latest cadquery (master) using the generated OCP.so:

`Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import cadquery as cq
  File "/usr/local/lib/python3.7/site-packages/cadquery/__init__.py", line 2, in <module>
    from .occ_impl.geom import Plane, BoundBox, Vector, Matrix, Location
  File "/usr/local/lib/python

[2021-01-04 20:47] adam-urbanczyk commented on #33
Good to hear that there is progress. You have now two distinct issues:

1. looks like you need to link against libGL (or something similar specific for BSD)
2. cadquery is not currently compatible with ocp7.5 (yet).

[2021-01-11 15:11] greyltc commented on #27
I've given this a shot on the latest master branch here (using the pywrap submodule as configured). I think I'm pretty close to getting the build to work, but I don't quite have it working. Part of the problem I'm having is that I'm not 100% confident that I'm choosing the correct headers and ocp.toml to use. Today I seem to have the following choices for headers:

(1) /usr/include/opencascade
(2)

[2021-01-11 19:25] adam-urbanczyk commented on #27
Please go for (3). For the generate step headers are specified in the ocp.toml file. For the rest you are spot on.

[2021-01-11 20:31] greyltc commented on #27
Ok, here's what I get when I do it that way (abbreviated output):
[code]
build.log.txt attached.

[2021-01-12 07:30] adam-urbanczyk commented on #27
Looks like you need to specify the correct include location for clang, something like (NB: made up path):
[code]
If you use one `-i/--include` different path in the code is followed so you need to specify all includes. Specifying explicitly `--include opencascade` is not needed AFAIR.

BTW: @greyltc here https://github.com/CadQuery/OCP/issues/33 there is more discussion on building on BSD.

[2021-01-12 12:49] greyltc commented on #27
Thanks! That works! Here's what I have for the meat of my build commands now:
[code]
Should hopefully be pretty portable.

[2021-01-12 13:07] greyltc commented on #33
Hey @nealie, Arch Linux also ships opencascade 7.5.0 so I've had to make some mods to get my cadquery package working there with a few caveats:

- I had to completely drop `text()`:
https://github.com/greyltc/cadquery/commit/48bab8ad9e176590f67980a263262b4c6b0b3198.patch
- I had to relax some volume check restrictions:
https://github.com/greyltc/cadquery/commit/3fdf585e640bbee0e41cfd1c3ba817e28e13

[2021-01-12 17:23] adam-urbanczyk commented on #27
I think you can even strip few things now:

[code]

[2021-01-12 17:27] adam-urbanczyk commented on #33
@greyltc  thanks but those are not related to the issues above.

Note that  CQ does not support 7.5 yet - it will come after 2.1 release.

[2021-01-12 17:43] greyltc commented on #27
Ah, neat! I didn't realize I could get rid of CONDA_PREFIX. Thanks

[2021-01-14 16:45] adam-urbanczyk commented on #27
So is the current solution standard enough, i.e. is the issue resolved?

BTW: I'm still thinking about adding the possibility to override the CMakeLists template

[2021-01-16 11:24] greyltc commented on #27
I think the new cmake stuff in this repo is great and this issue can be closed here in my opinion. Thank you!

Do you think pywrap deserves the same or similar cmake treatment? I discovered https://github.com/CadQuery/pywrap/issues/31 in my recent builds and through that I noticed a few hardcoded paths and library and platform discovery logic in pywrap/bindgen/utils.py that I thought might be bett

[2021-01-16 14:49] adam-urbanczyk commented on #27
It could be done using  https://cmake.org/cmake/help/latest/command/execute_process.html  but for now I don't want to spend time on writing something that likely will not be generic.

I was wrong regarding the custom CMakeLists template - it is already supported. Regarding https://github.com/CadQuery/pywrap/issues/31 I think you are wrong - as long as you provide libcalng path explicitly via `--li

[2021-01-16 15:30] greyltc commented on #27
I'm seeing the following on 6b105a3  (which is configured to pull in https://github.com/CadQuery/pywrap/commit/367eb8de984344d3a7cde85b3bef6c5d2c1092c9 as a submodule)
[code]
v.s.
[code]
I assume you can recreate the issue by calling `unset CONDA_PREFIX` before you wrap.

[2021-01-16 15:46] adam-urbanczyk commented on #27
Thanks, you are right! I solved it in https://github.com/CadQuery/pywrap/commit/420c92f56d2d8bb416744a11fd078cddf6cec8be , will pull this into OCP later.

[2021-01-17 15:32] r4dr3fr4d opened #39 "Add setup.py"
Ref.  https://github.com/CadQuery/cadquery/issues/590

[2021-01-17 15:57] adam-urbanczyk commented on #39
OCP is only distributed as a conda package.

[2021-01-21 17:57] nealie commented on #33
Has something changed with the code since I last got it working, as I cannot get it to link to libgl. Before it just magically happened, but I've tried adding it in to cmake using find_package and target_link_libraries, but to no avail. Admittedly I have zero cmake experience so I've been just googling around for ideas.

[2021-01-27 17:55] adam-urbanczyk commented on #33
Nothing changed in the OCP code regarding OpenGL. Maybe your distro links OCCT with OpenGL using the `PRIVATE` option.

I think that this should do the trick (modify `templates/CMakeLists.j2`):
[code]
Once you confirm that this works for you, I can add this change to the repo.

[2021-01-28 07:09] adam-urbanczyk commented on #6
Done.

[2021-01-28 07:09] #6 closed

[2021-01-28 07:13] adam-urbanczyk commented on #8
Done

https://github.com/CadQuery/OCP/blob/2ecc243e2011e1ea5c57023dee22e562dacefcdd/ocp.toml#L323

[2021-01-28 07:13] #8 closed

[2021-01-28 07:14] #39 closed

[2021-01-29 09:08] nealie commented on #33
I've updated to the latest code from github as the template directory wasn't present on the version I was using. This has necessitated adding VTK as a dependency. The code calls for vtk9, but the FreeBSD opencascade port uses vtk8, so lets hope there isn't a clash.

So, I have a weird problem now:

`===>  Performing out-of-source build
/bin/mkdir -p /usr/home/nealie/ports/cad/py-ocp-pywrap/work/.b

[2021-01-29 09:22] nealie commented on #33
Oops, my mistake. I didn't understand cmake enough to put the lines you told me about into the right place. I think I've corrected that now and I get this:

`===>  Performing out-of-source build
/bin/mkdir -p /usr/home/nealie/ports/cad/py-ocp-pywrap/work/.build
-- Found pybind11: /usr/local/include (found version "2.6.1" )
CMake Warning (dev) at /usr/local/share/cmake/Modules/FindPackageHandleStan

[2021-01-29 15:24] nealie commented on #33
The magic incantation seems to be: `target_link_libraries( {{ name }} PRIVATE ${OPENGL_gl_LIBRARY} )`

Everything now builds successfully, but alas all is not yet well:

`Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import cadquery as cq
  File "/usr/local/lib/python3.7/site-packages/cadquery/__init__.py", line 2, in <module>
    from .occ_impl.geom import Plane, Bo

[2021-01-29 17:10] adam-urbanczyk commented on #33
Good, progress. Can you list all undefined symbols in OCP (using `ld`)?

[2021-01-30 13:16] adam-urbanczyk commented on #31
Solved in #40

[2021-01-30 13:16] #31 closed

[2021-02-02 16:38] nealie commented on #33
Here's what ld says:

`/usr/local/bin/ld: /usr/local/lib/libvtkWrappingPythonCore-9.0.so.1: undefined reference to `PyUnicode_InternFromString'
/usr/local/bin/ld: /usr/local/lib/libTKIVtk.so.7: undefined reference to `vtkFiltersParallelDIY2_AutoInit_Construct()'
/usr/local/bin/ld: /usr/local/lib/libvtkWrappingPythonCore-9.0.so.1: undefined reference to `PyExc_KeyError'
/usr/local/bin/ld: /usr/loca

[2021-02-02 16:47] bragostin opened #41 "BRep_Tool().Surface_s(Face) does not return Geom_Surface"
`OCP.BRep.BRep_Tool().Surface_s(Face)` should return a `Geom_Surface` handle (https://old.opencascade.com/doc/occt-7.5.0/refman/html/class_b_rep___tool.html#a351a0fe4cd421318c7f2ac042269c0ff) but instead returns the basic underlying geometry like `Geom_BSplineSurface` for example (https://old.opencascade.com/doc/occt-7.5.0/refman/html/class_geom___surface.html), which prevents me from using `OCP.G

[2021-02-02 17:34] adam-urbanczyk commented on #41
Can you post a minimum example?

[2021-02-03 07:42] bragostin commented on #41
Here is a minimal example,
[code]
which is supposed to calculate the curvature of the surface below.

![GeomLProp_SLProps](https://user-images.githubusercontent.com/26216511/106713463-cec24680-65fa-11eb-9bf3-20ff3c598682.png)

But it returns the following error:
[code]
It is also strange that `BRep_Tool().Surface_s(face)` returns a `Geom_Plane` object while it is a 3D surface.

[2021-02-03 07:57] bragostin commented on #41
I just modified the function `radius_at_uv(face, u, v)` line 153 of https://github.com/tpaviot/pythonocc-demos/blob/master/examples/core_geometry_geomplate.py

[2021-02-03 16:50] adam-urbanczyk commented on #41
You are misinterpreting the error: `Geom_Plane` is a `Geom_Surface`, but you did not provide all args. The following works
`curvature = GeomLProp_SLProps(h_srf, 0.5, 0.5, 1, 1e-6)`

See also: https://pybind11.readthedocs.io/en/stable/classes.html#inheritance-and-automatic-downcasting

[2021-02-04 07:38] bragostin commented on #41
(faceplam) ... for some reason I was convinced these arguments were optional... Sorry for making you wasting your time! Thank you

[2021-02-04 07:38] #41 closed

[2021-02-06 15:27] adam-urbanczyk commented on #32
Done: https://github.com/CadQuery/OCP/releases/tag/7.4.0

[2021-02-06 15:27] #32 closed

[2021-02-06 15:41] #15 closed

[2021-02-06 15:41] adam-urbanczyk commented on #15
All nested enums should be wrapped now.

[2021-02-06 15:43] adam-urbanczyk commented on #27
Solved

[2021-02-06 15:43] #27 closed

[2021-02-06 16:04] adam-urbanczyk commented on #33
These look interesting:
[code]

Only `OpenGl_VertexBuffer::unbindFixedColor`  looks relevant for OCP. Could you add a manual exclusion of this method to ocp.toml and check if this solves the issue?

[2021-02-09 14:38] nealie commented on #33
I added `OpenGl_VertexBuffer::unbindFixedColor` to `exclude_methods` of `Modules.OpenGl`, but alas, I seem to get exactly the same error. This is with the very latest pywrap and OCP.

[2021-02-10 17:08] adam-urbanczyk commented on #33
Are you sure it was indeed excluded from the generated code? If so, I'll check locally if this function is not appearring in some inline.

[2021-02-12 08:27] nealie commented on #33
Here's the patch I applied to ocp.toml. Maybe I haven't specified the exclusion correctly:

`--- ocp.toml.orig       2021-02-06 15:41:02 UTC
+++ ocp.toml
@@ -361,6 +361,10 @@ parsing_header = '''#pragma clang diagnostic ignored "
     modules = ["Xw"]
     symbols = "symbols_mangled_linux.dat"

+[FreeBSD]
+    modules = ["Xw"]
+    symbols = "symbols_mangled_linux.dat"
+
 [Windows]
     modules =

[2021-02-12 08:30] nealie commented on #33
Here's the patch I applied to ocp.toml, in case I specified the exclusion incorrectly.

[patch-ocp.toml.txt](https://github.com/CadQuery/OCP/files/5970486/patch-ocp.toml.txt)

[2021-02-23 10:21] nealie commented on #33
I just updated my build to use the latest head of OCP (1abdb76) and now I get a different undefined symbol:

`Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import cadquery as cq
  File "/usr/local/lib/python3.7/site-packages/cadquery/__init__.py", line 2, in <module>
    from .occ_impl.geom import Plane, BoundBox, Vector, Matrix, Location
  File "/usr/local/lib/pytho

[2021-03-08 16:09] EmJay276 opened #45 "OCP not Pyside2 compatible on Windows"
I am currently porting my old CadQuery 2.0 to the new CadQuery 2.1 using OCP instead of pythonOCC
I have implemented a Viewer in my UI using the OCCT Widget from the CQ-Editor (using PySide2 instead of PyQt5).

On Linux it works fine, but on Windows I cannot get it working.
The problem is probably this line here:

`        return WNT_Window(wid.ascapsule())`
from
https://github.com/CadQuery/CQ-edi

[2021-03-09 07:58] adam-urbanczyk commented on #45
OCP doe not specifically depend on PyQT or PySide and I think that you can just use the Python C API to crate the appropriate capsule object. `ctypes.pythonapi.PyCapsule_New` and `ctypes.pythonapi.PyCapsule_SetPointer` to be specific

[2021-03-09 11:35] EmJay276 commented on #45
I already tried this, but all I get as a return value from `ctypes.pythonapi.PyCapsule_New` is an int and I can't get `ctypes.pythonapi.PyCapsule_SetPointer` working, I always get a `OSError: exception: access violation reading 0x0000000060329CF8`
Sorry I'm not familiar with ctypes, can you perhaps provide a example?

[2021-03-09 16:50] adam-urbanczyk commented on #45
Something along those lines:
[code]

[2021-03-09 17:19] EmJay276 commented on #45
Wow that works perfectly, thanks a lot!
I didn't get I have to set the restype and the argtypes

If anyone has the same problem, this here is my working version

[code]

[2021-03-17 07:07] adam-urbanczyk commented on #33
The code in the head is for 7.5.1 , are you linking against it? I assume so. If all fails, you can generate your own `symbols_mangled_*.dat` and point to it in the `ocp.toml` file.

Here is the script (you'll likely need to modify it to work on BSD): https://github.com/CadQuery/OCP/blob/master/dump_symbols.py

[2021-03-27 15:17] greyltc opened #46 "undefined symbol: _ZN19OpenGl_VertexBuffer16unbindFixedColorERKN11opencascade6handleI14OpenGl_ContextEE"
I'm having some trouble building e1df346 today.
Well actually, it builds, It's just unusable:
[code]

I've got opencascade 7.5.1 and vtk 9.0.1. Any ideas?
Maybe the builds of either one of those is missing a feature?

[2021-03-27 20:32] adam-urbanczyk commented on #46
How are you compiling OCCT? See: https://github.com/Open-Cascade-SAS/OCCT/blob/f7ad1e7e3729c128014a23f18c028c55f50db301/src/OpenGl/OpenGl_VertexBuffer.hxx#L370

[2021-03-28 16:31] greyltc commented on #46
Like this: https://aur.archlinux.org/cgit/aur.git/plain/PKGBUILD?h=opencascade-rc

I figured it out. If you build occt with `-D USE_GLES2=ON` you don't get the symbol in the title and you learn you need it when you try to `import OCP`.

[2021-03-28 16:32] #46 closed

[2021-03-28 16:42] adam-urbanczyk commented on #46
Great! Note that `USE_GLES2` is OFF by default.

[2021-04-15 09:48] nealie commented on #33
Just to keep you up to date: I am still working on this, but with no further success. I have generated my own symbols_mangled_freebsd.dat as you suggested, but with no difference (it meant creating yet another port for lief). I have worked using the headers within the OCP repository as well as the locally installed headers. Both compile and link, yet both exhibit the same undefined symbol at execu

[2021-04-15 14:24] nealie commented on #33
Using c++filt I'm able to see that the undefined symbol "_ZN19OpenGl_VertexBuffer16unbindFixedColorERKN11opencascade6handleI14OpenGl_ContextEE" is in fact: `OpenGl_VertexBuffer::unbindFixedColor(opencascade::handle<OpenGl_Context> const&)`

Opencascade (my version at least) defines it as:
`Standard_EXPORT static void unbindFixedColor (const Handle(OpenGl_Context)& theCtx)`

I don't know if that di

[2021-04-15 16:12] adam-urbanczyk commented on #33
Now it starts to make sense, check #46 for possible solution. TLDR: use the following cmake flag when compiling OCCT:
[code]

[2021-04-16 09:53] nealie commented on #33
Well, I found the option to turn off USE_GLES2 in the FreeBSD opencascade port, and now that symbol doesn't seem to be  a problem.

So, the next problem is as follows:

`ImportError: /usr/local/lib/libTKIVtk.so.7: Undefined symbol "_Z41vtkFiltersParallelDIY2_AutoInit_Constructv"`

which translates to: `vtkFiltersParallelDIY2_AutoInit_Construct()`

Looking at the ldd output from two comments ago I

[2021-04-16 15:57] adam-urbanczyk commented on #33
My suggestion would be to link everything against vtk9 (it is BTW interesting how you link against two version of VTK at once). You'll need to patch OCCT (only build related files, not code itself https://github.com/conda-forge/occt-feedstock/blob/master/recipe/vtk.patch) .

I never tried with vtk8.2 , but I assume it will also work. You'll need to change the version here: https://github.com/CadQu

[2021-05-12 12:38] Jojain opened #48 "Pickle OCP objects"
Currently it is not possible to serialize OCP objects using pickle.
[code]

This could find some use in specific application like in https://github.com/CadQuery/cadquery-plugins/tree/main/plugins/cq_cache
or in exchanging data across python interpreters.

I don't know much about the feasability of this but has this already been considered ?

[2021-05-13 05:16] marcus7070 commented on #48
I expected to find a method `DumpJson` on `OCP.TopoDS.TopoDS_Shape` and `TopoDS_Solid`, but it's not there.
https://old.opencascade.com/doc/occt-7.5.0/refman/html/class_topo_d_s___shape.html#a009204ad884a120d654c4ab2c071ec5f

@adam-urbanczyk, do you know where it went?

[2021-05-13 19:01] adam-urbanczyk commented on #48
Pickling is not implemented. You can (de)serialize TopoDS_Shape objects using the native (and lossless) brep format of OCP. Take a look at this PR: https://github.com/CadQuery/cadquery/pull/735 .

DumpJson is not what you want.

[2021-05-17 08:10] sosyco opened #49 "Error on compiling, some hints for me?"
Hi,
fantastic work!
To learn more about the used technique I try to build OCP myself.
Environment: Ubuntu 20.4
Installed packages:

[code]
- clone ocp and integrated pywrap: check
- build an install pywrap: check
- using pywrap for OCP... some failure after correct building.
  I doing something wrong!?
[code]

thanks for every help

[2021-05-18 06:46] adam-urbanczyk commented on #49
Are you using correct versions of all the deps?

[2021-05-19 18:31] greyltc commented on #49
@sosyco what version of jinja do you have there?

[2021-05-22 18:07] sosyco commented on #49
I think so.
Maybe I misunderstand the sequence of building the packets!?
after building/installing opencascade 7.5.1:
1. cloning OCP
2. cloning pywrap in OCP in subfolder pywrap
3. building pywrap with ```python setup.py build && python setup.py install```
4. jumping back in parent-folder OCP
5. ```pywrap -i /usr/include/vtk-7.1/ -i /usr/include/rapidjson/ -i /usr/include/clang/10/include/ -l /usr

[2021-05-23 00:13] jmwright commented on #49
I've been able to replicate this same error on Ubuntu 20.04 using a Python venv.

[code]

I probably won't have time to dig into it more this weekend, but I will probably compare version numbers between a working conda environment and the venv next week.

[2021-05-23 00:46] sosyco commented on #49
Cool. I will dig too.

[2021-05-23 07:25] greyltc commented on #49
I've noticed that building with jinja version 3.x or later causes this error. You might try rolling jinja back to a 2.x release.

[2021-05-24 10:12] jmwright commented on #49
Pinning the jinja2 version to 2.11.3 as @adam-urbanczyk did [here](https://github.com/CadQuery/OCP/pull/50) fixed the problem for me.

[2021-05-26 12:57] sosyco commented on #49
One problem fixed... one left..
on last build step i get the following error:
```cmake --build build```
...
[code]

[2021-05-26 15:49] adam-urbanczyk commented on #49
Looks like your OCCT is compiled without VTK support. You can either recompile it and enable VTK or change the configuration to not wrap the OCCT-VTK modules (`ocpt.toml`) and not link against them (`FindOpenCascade.cmake`).

[2021-06-03 07:46] chris-morgan commented on #49
It’s strongly desirable to update this to support jinja2 version 3, because platforms will prefer to use their own packages of the libraries, and those will all be being updated to the latest version. Pinning to an old version is burying your head in the sand.

The AUR package python-ocp-git is failing to build on Arch Linux for this reason.

Fortunately the patch is very simple, and I’ve submitte

[2021-06-08 22:58] leycec opened #51 "Is OCP suitable for third-party use yet?"
Our crack team of Pythonistas is contemplating which of several Python OCCT bindings to require in an unrelated third-party project. Rejoice, for OCP is one of those! We couldn't help but notice the phenomenal job the CadQuery community has done here. Big kudos to all involved. :+1:

So, let's hear it for our finalists:

* [**pyOCCT.**](https://github.com/trelau/pyOCCT)
* [**pythonocc-core.**](htt

[2021-06-09 20:38] adam-urbanczyk commented on #51
OCP actually uses pybind11 and is inspired by pyOCCT. The difference is the binding generator and some technical details (vtk interop, iostream handling and maybe some additional things - I have not looked at pyOCCT for quite some time). I don't think there are many changes coming, so in principle you could start using it. Depending on the use case you might be better off with a subset of OCP.

[2021-06-10 02:14] leycec commented on #51
That... makes sense. I was under the foolish misapprehension that PyWrap only leveraged clang; clearly, [these reading glasses need a checkup](https://github.com/CadQuery/pywrap):

Since I'll probably be packaging some or all of this for Gentoo Linux in the near future, it's great to have the heads-up on these dependency trees. :+1:

**...this is of extreme interest to us.**

Our scientific stack

[2021-06-10 02:36] marcus7070 commented on #51
You will probably be interested in this PR: https://github.com/CadQuery/cadquery/pull/735/files#diff-f8ccd5a78e524f286864e37bc789e53a7f79d65eb3ad8b9a08ef5d8331944af0R1104 and this comment chain: https://github.com/CadQuery/cadquery/issues/705#issuecomment-816822399

[2021-06-10 04:31] leycec commented on #51
...this is magical. This also answers everything I've always wanted to know:

* Yes, the OCP API is stable.
* Yes, the OCP API is created with clang and other things.
* Yes, the OCP API has tight VTK integration.
* Yes, the OCP API is wonderful, so everyone should use it.

Thanks for the deep insights, @marcus7070. Go-go, CadQuery ecosystem! <sup>Also, Australia rocks. New Zealand permanent reside

[2021-06-10 04:31] #51 closed

[2021-06-11 11:43] sosyco commented on #49
From my site i get a first running system on "bare-docker".
Thanks to everybody!
to try the system:
```docker run --name cadquery-test --restart=always -p 3000:8000 -d sosyco/jupyterhub-cadquery```
Add user:
```docker exec -it cadquery-test bash```
```> useradd -m -s /bin/bash```
```> exit```

login as test on http://localhost:3000/user/test/lab
via jupyter-git you can clone and check the examples

[2021-06-22 08:36] nealie commented on #33
I haven't given up on getting this working, but I did get sidetracked by the FreeBSD ports system migration from Subversion to git. I now have a less convenient workflow that I can use, so I can get back to getting this working.

I tried to link OCP against VTK 8.2, but I believe that the port is built without python wrapping, so there's no vtkWrappingPythonCore available. I think this means that

[2021-06-22 19:48] adam-urbanczyk commented on #33
The lates version of OCCT is 7.5.2 actually. I think you should be able to build VTK8 with python. Regarding linking against VTK9 you'll need a patch (only on build files AFAIR) - you can find it in the conda-forge recipe used for building OCCT.

[2021-07-01 14:01] MarcWeber opened #53 "no matches converting function ‘Append’ to type ‘void (class AIS_ManipulatorObjectSequence::*)(const int&)’"
Hi, I try packaging latest version of CadQuery for Nixos.
However I am running into this issue:

[code]

[code]

The biggest problem I face is that I don't know what versions to use.
Eg another issue said vtk_7, however latest seem to use _9.
I tried using occt (opencascade) latest version.

Does anybody have a docker script which compiles this all from source so that I can lookup the exact same v

[2021-07-03 00:19] marcus7070 commented on #53
Sorry Marc, I missed this. Check out my repo cq-flake, it's a bit ugly but it works. I'll try to answer more later.

[2021-07-04 06:16] marcus7070 commented on #53
At present VTK 9.0.1, with build flags and patches from https://github.com/conda-forge/vtk-feedstock/tree/fe196aa7e36db84841df1a94271922c054697e79/recipe. But OCP is a rapidly moving target, one of it's goals is to quickly react to new releases of OCCT.

We need 7.5.1 at the moment, with build flags and patches from here: https://github.com/conda-forge/occt-feedstock/tree/c7cba7d3edccf9e874c6170e4

[2021-07-04 12:26] greyltc commented on #53
@MarcWeber, if you'd like to look at how I've packaged this stuff for Arch, you're probably better off looking at the -git ones right now:
https://aur.archlinux.org/packages/opencascade-rc/
https://aur.archlinux.org/packages/vtk9-java/
https://aur.archlinux.org/packages/python-ocp-git/
https://aur.archlinux.org/packages/python-cadquery-git/
https://aur.archlinux.org/packages/python-cq-editor-git/

[2021-07-04 12:29] MarcWeber commented on #53
Marcus has done it so the only question is whether it can be merged into official nixpkgs tree somewhen. Closing for now cause there are multiple references which work.

[2021-07-04 12:29] #53 closed

[2021-07-05 15:43] nealie commented on #33
I can at last build a functioning OCP. The last problem was VTK and after talking to the FreeBSD cad/opencascade port maintainer, he upgraded to using VTK 9, which was not altogether straightforward as it does not work out of the box. Efforts have been undertaken to ensure that FreeCAD is not broken by this change, which apparently also needed some work, but I am hopeful that those changes will be

[2021-07-05 16:13] adam-urbanczyk commented on #33
Good to hear! Out of curiosity what was needed regarding VTK9 and OCCT (other than the patch mentioned above)?

[2021-07-06 07:18] nealie commented on #33
I'm not totally sure, but here's the proposed patches and subsequent discussion: https://reviews.freebsd.org/D30934

[2021-07-07 13:28] jmwright opened #54 "7.5.2 Release"
I created an Anaconda environment using the following line, installed CQ's dependencies, and ran the tests. Everything worked fine.
[code]
Was there ever a non-beta package of 7.5.1 released?

The following line gives an error about a version conflict with OCCT, but I'm guessing that's to be expected at this point in the release process.
[code]
Error:
[code]

[2021-07-07 13:55] #54 closed

[2021-07-12 23:51] echeng22 opened #55 "TDF_Label.FindAttribute is not updating handle with the found attribute values"
Hi,
I'm running into an issue where the FindAttribute() function under TDF_Label does not update the TDF_Attribute handle passed to it. I've attached the script, and files in the zip file of an example.

Relevant snippet of the script:
[code]

The output of the script is attached below:
[code]
I would expect the `Attribute name` to return `SOLID`, based off what the `test_input.stp` and `test_inpu

[2021-07-17 07:07] leycec commented on #51
**OMG.** I just revisited this conversation after stumbling through Open Cascade documentation on `TopoDS_Shape` objects and realizing I was profoundly out of my depth. In  a late-night frenzy of desperation, I re-clicked through the [amazing `git` changeset you so helpfully linked to](https://github.com/CadQuery/cadquery/pull/735/files#diff-f8ccd5a78e524f286864e37bc789e53a7f79d65eb3ad8b9a08ef5d83

[2021-07-18 15:02] adam-urbanczyk commented on #55
Confirmed, this is an OCP issue.

Also reported here: https://github.com/CadQuery/cadquery/issues/825

[2021-07-18 15:14] adam-urbanczyk commented on #55
For now, the workaround would be to use `OCP.TDF.TDF_AttributeIterator` and find the attribute by hand.

[2021-07-18 17:44] adam-urbanczyk commented on #55
Relevant pybind11 issues:
https://github.com/pybind/pybind11/issues/1320
https://github.com/pybind/pybind11/issues/2751

[2021-07-19 16:12] echeng22 commented on #55
Great! Thanks for the follow up and suggestion. I'll take a look through and see what I can do with it.

[2021-07-19 16:19] adam-urbanczyk commented on #55
Something along those lines:
[code]

[2021-07-19 16:56] echeng22 commented on #55
Got it to work with this for name attribute specifically. Can be easily updated to search for other attributes as needed. Sharing this here in case it's of any help for other people.

[code]

Thanks again for the help on this.

[2021-07-20 06:27] adam-urbanczyk commented on #55
@a09418849 take a look at the workaround.

[2021-07-27 16:58] #49 closed

[2021-09-04 14:47] Jojain commented on #48
Closing this as importBrep and exportBrep is now implemented in cadquery

[2021-09-04 14:47] #48 closed

[2021-09-05 21:21] Jojain opened #59 "Why are overloaded methods having a "_s" suffix"
Hello,
The question is in the title. Why are some of the overloaded methods having a "_s" suffix.
For example :
`TDataStd_Name` has a `Set` method and two `Set_s` methods.
It's sometimes confusing because if we use the `Set` method the code will fail due to type error. (i.e the arguments aren't passed as the right overloaded method)

More important, is this random ? And can it change depending on

[2021-09-05 21:24] Jojain commented on #59
I had the good idea to check others issues after posting mine...
The answer is given here : https://github.com/CadQuery/OCP/issues/15
Methods with "_s" suffix are static methods.

[2021-09-05 21:24] #59 closed

[2021-10-03 18:35] rsmith-nl commented on #33
Can you perhaps share your work up till now? I'm on FreeBSD as well, and I'd like to try to get a basic cadquery working (without cq-editor).

[2021-10-08 18:50] Grawp opened #60 "Ubuntu 16.04 LTS used in the azure-pipelines is deprecated and will be removed on October 18"
https://github.com/actions/virtual-environments/issues/3287

[2021-10-30 13:14] whophil commented on #51
Wow am I glad I found this thread. @leycec - I am at a similar crossroads as you, and am also interested in OCP -> VTK (and PyVista of course). Has your project progressed? If so have you run into any roadblocks with your OCP + VTK project?

[2021-10-31 12:34] rsmith-nl commented on #33
It works!

There were a couple of minor issues;

* the cadquery port requires the math/nlopt port.
* the distinfo in the cadquery port references CadQuery-cadquery-2.1-20097a9_GH0.tar.gz. This should be CadQuery-cadquery-2.1.1-20097a9_GH0.tar.gz
* the port Makefile for py-ocp references libclang.so from LLVM 9. But the port uses LLVM10, AFAICT.
* nptyping requires https://github.com/ramonhagenaars

[2021-10-31 14:11] rsmith-nl commented on #33
Honestly (and without meaning disrespect), I'm not the biggest fan of cq-editor and IDE's in general; it pulls in the whole of spyder just for syntax highlighting of the python code. :-( And the cadquery examples in the distribution are kind of useless without it.
(Although I understand the attraction for newer users or those migrating for openscad.)

As a long-time UNIX user I favor [DOTADIW](htt

[2021-10-31 14:32] adam-urbanczyk commented on #33
Discussing CQ-editor is a little bit off-topic here but note that you can use external editors with it. Also note that CQ has SVG exporting capabilities for "2D views".

[2021-10-31 14:34] adam-urbanczyk commented on #33
@nealie given what @rsmith-nl wrote above, can this issue be closed (i.e. it sounds like OCP can be built on FreeBSD)? Or am I missing something?

[2021-11-01 15:08] #33 closed

[2021-11-02 14:40] whophil opened #62 "Discussion: conda-forge"
I am trying out OCP in a non-CadQuery project. For this project, we need a conda-forge compatible version of OCP - i.e., it is built with Anaconda compilers and linked against CDT (or otherwise CF-compatible) libraries.

Is there any interest/progress in building OCP on conda-forge?

I've noticed that previous versions of CadQuery are on conda-forge, but not the latest ones using OCP.

[2021-11-02 17:47] adam-urbanczyk commented on #62
What is incompatible at the moment? AFAICT `conda install -c conda-forge -c cadquery OCP` works as expected. OCP builds  depend on the conda-forge build of OCCT.

[2021-11-02 19:12] whophil commented on #62
This is likely an uncommon use case, but I am _extending_ the bindings of OCP in my project with additional pybind11 code.

This only works if the original binding library (`OCP.so`) and extension library (`my_project.so`) are compiled with the same compiler versions (see https://github.com/pybind/pybind11/issues/2056#issuecomment-570835972). My project is compiled with latest conda-forge Anaconda

[2021-11-02 20:56] adam-urbanczyk commented on #62
I see, interesting. Is 8 with 11 actually giving you issues? I'd worry more about using compatible pybind11 versions.

[2021-11-02 22:44] whophil commented on #62
Yes, I am seeing issues when trying to use the GCC8 OCP with my GCC11 project (pybind11 incompatible function arguments error). The GCC8 OCP does work when I compile my project with GCC9. I haven't tried GCC10.

On pybind version - I am building my project with pybind 2.6.1 whereas the OCP library is built with pybind 2.4.3. No issues there so far - at least not on Windows/Mac, where I can confirm

[2021-11-03 05:55] adam-urbanczyk commented on #62
Regarding conda-forge: I guess yes, but help would be very welcome. NB: not all versions of pybind11 are compatible - your use case might need a strategy how to track that (see https://github.com/pybind/pybind11/blob/6de30d317277c26a72ed1929e09f225b74f23b7a/include/pybind11/detail/internals.h#L29).

[2021-11-03 11:12] wavexx opened #63 "AIS_DimensionSelectionMode not in OCCT 7.5.x?"
I'm trying to build CadQuery from scratch on debian using the system occt 7.5.1.
After having to fiddle a bit to select the appropriate python version, paths and whatnot, I was able to get pywrap to run.

However, I'm getting stuck during the actual build.
What I'm getting very early on is:

[code]

As far as I can see, this was removed in OCCT 7.5.0.
Can this be a result of an issue on my end som

[2021-11-03 15:27] whophil commented on #62
@adam-urbanczyk I can help out with the conda-forge stuff. Which version should I start on - 7.4.0 or one of the 7.5.x RC tags?

[2021-11-06 19:19] whophil commented on #62
In-progress conda-forge recipe here: https://github.com/conda-forge/staged-recipes/pull/16814

[2021-11-08 20:37] whophil opened #64 "Release to include binding code?"
Would it be possible to have the binding code included in the releases? Either bundled or as a separate asset? I believe this would really simplify the conda-forge process, because generating the bindings on the pared-down conda-forge builders has been giving me a lot of trouble.

Relates to #62

[2021-11-09 07:31] adam-urbanczyk commented on #64
That should be possible. I'll go the separate asset way though.

[2021-11-09 16:56] whophil commented on #64
Great, thanks @adam-urbanczyk! Is this something you would be able to do for the latest release `7.5.2-beta`?

One other minor point while we're on the topic of releases - the `7.5.2-beta` release zips (and perhaps other versions) are missing the `pywrap` submodule contents.

[2021-11-09 17:31] adam-urbanczyk commented on #63
I don't see this file in the master. Which OCP version are you using?

[2021-11-09 22:06] wavexx commented on #63
Turns out I was running pywrap from pywrap itself (which also contains ocp.toml/opencascade), not from ocp. After trying again from the correct path though, I'm still running into build issues.
I have many "unnamed" types, such as:

[code]

[2021-11-10 07:45] adam-urbanczyk commented on #63
Are you sure that you are using exctly the same configuration as in this repo?

[2021-11-10 09:46] wavexx commented on #63
Definitely not, since I'm rebuilding on debian unstable. Definitely part of the problem: I wish I could manage to make an official package out of this, which is why I'm insisting on the system's version of the packages (no pip, no conda, full unbundling). The other parts are quite trivial, but OCP isn't, and there's not much documentation.

Can I ask what could be the cause of this?

I tried both

[2021-11-11 07:47] adam-urbanczyk commented on #63
You'll need to share the intermediate files if you need some debugging help.

Note that OCCT <7.5.3 has a serious STEP export bug. If your goal is to package CQ, I'd be against using 7.5.2.

[2021-11-11 07:48] #55 closed

[2021-11-11 08:35] wavexx commented on #63
Thanks for the heads-up.

Meanwhile I also tried to use clang 10, but it does result in the same. I'll post something soon.

Can I ask a brief overview of how is OCP is normally updated for a newer release?
My understanding is:

- copy new headers to opencascade/ (my question here is, why is this needed? are these hand-modified or is there another reason why this is copied instead of being referen

[2021-11-19 19:11] Grawp commented on #63
In my fork https://github.com/Grawp/pywrap/tree/dev , https://github.com/Grawp/OCP/tree/dev , etc.. I live happily without the duplicated headers and other things. I forked them with primary goal of porting CQ to **Nix** (other Nix related effort is https://github.com/marcus7070/cq-flake) but also for cleaning the code a little.

Perhaps you could find some inspiration in it (or in the other Nix r

[2021-11-19 22:00] adam-urbanczyk commented on #63
@wavexx the flow is correct. When I have time I'll add something to the README / wiki here.
@wavexx @Grawp you have been warned about the STEP export issue. Please inform your users that you are distributing crippled versions of CQ.

[2021-11-19 22:00] #63 closed

[2021-11-20 10:57] adam-urbanczyk opened #65 "Add cmake variables for non-supported build scenarios."

[2021-11-25 17:22] greyltc opened #67 "7.5.3p1 seems fine"
Not an issue.

I've tested master with occt's tag/release [V_7_5_3p1](https://git.dev.opencascade.org/gitweb/?p=occt.git;a=commit;h=b08cd044f97635a40cceb86769b2399527090001) and it seems to work alright. The `V_7_6_0` tag/release doesn't work though.

`pytest` output for cadquery looks like this:
[code]

[2021-11-25 17:23] #67 closed

[2021-11-25 17:43] adam-urbanczyk commented on #67
7.6 does not work == you cannot compile OCP with it? If so, I'm not surprised. There is usually some work needed to make eery rel work

[2021-11-26 02:26] greyltc commented on #67
yeah, the build fails. I'll make a new issue for that with details in a handful of hours.

[2021-11-26 02:27] greyltc commented on #63
@wavexx, I'm pretty sure https://github.com/CadQuery/pywrap/pull/43 solves this.

[2021-11-26 11:34] wavexx commented on #63
@adam-urbanczyk it's not about using this specific version of OCCT, I'm trying to make something that would build in general under the platform where OCCT/VTK is unbundled. I can always add back version constraints later.

:heart: the build is still running, but looks like that does solve the issue indeed! Thanks for looking into this.

[2021-11-26 17:37] #65 closed

[2021-11-28 13:12] bernhard-42 opened #68 "Compiling OCP for Apple M1 Max (arm64)"
Trying to get CadQuery running on an arm64 CPU based Macbook Pro (M1 Max):

I have set up conda via [MambaForge](https://github.com/conda-forge/miniforge) which provides Python and conda packages for  Mac arm64 CPU ([installer](https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-MacOSX-x86_64.sh)):

[code]

# Issue

I came pretty far, however stuck with one final compilati

[2021-11-28 13:45] adam-urbanczyk commented on #68
Could you share `RWGltf.cpp` and `tmp_filtered.pkl`?

[2021-11-28 14:10] bernhard-42 commented on #68
`tmp_filtered.pkl` has 253M. Shall I load it and extract some smaller parts to share?
Or what would be a good place to share such a big file?

[2021-11-28 14:21] bernhard-42 commented on #68
And now that I think of it, I do have an "OCP" folder with cpp files in the OCP repo, but I actually don't remember/know where it came from. Is this something the process build creates?
I just started on a clone of OCP that I created some time ago.

[2021-11-28 15:18] bernhard-42 commented on #68
To answer my own question, the OCP folder gets created by the process. Just repeated the steps in a fresh clone.

[2021-11-28 15:21] bernhard-42 commented on #68
btw. I tried it on OCP master branch - if that info helps

[2021-11-28 16:10] whophil commented on #67
Is the plan to cut a release for OCP 7.5.3? I'm running into some issues getting OCP packaged on conda-forge (https://github.com/conda-forge/staged-recipes/pull/16814), and I'm interested to see if OCP 7.5.3 would resolve.

[2021-11-28 16:51] adam-urbanczyk commented on #67
I'm currently working on 7.6, so not really. I don't think any of the issues would be related to 7.5.2 vs 7.5.3.

[2021-11-28 17:09] bernhard-42 commented on #68
To be able to continue, I commented out  the section of `klass = m.attr("RWGltf_GltfOStreamWriter");` in `OCP/RWGltf.cpp`
Afterwards I was able to create the library:

[code]

I then did the following to create a cadquery environment:

[code]

SUCCESS!

![image](https://user-images.githubusercontent.com/954408/143778359-21d020ec-9613-4d66-9050-3ba196b58ee3.png)

[2021-11-28 17:12] adam-urbanczyk commented on #68
You can provide just the part related to `RWGltf_GltfOStreamWriter`. I'll look up the exact location later.

[2021-11-28 17:13] bernhard-42 commented on #68
So the only remaining problem is the Gltf Writer. I did some more research and now think the pywrap error (which seems to come from a missing `#include <Standard_Dump.hxx>`) and the compile error could belong together. But the whole OCP thing is to complex for a non C++ developer.
I am happy to have a working CadQuery environment on an arm64 Mac - and can happily ignore the missing Gltf writer for

[2021-11-28 17:22] bernhard-42 commented on #68
This is the section I commented out:

[code]

The `.def` wants `int`, however the include file `OCP/opencascade/RWGltf_GltfOStreamWriter.hxx` says

[code]

[2021-11-28 17:48] whophil commented on #67
Would you be opposd to releasing 7.5.3 in the interim? If I understand the process correctly it seems like a very small amount of work. It would also be nice to have the binding headers in the release zips as discussed in https://github.com/CadQuery/OCP/issues/64

[2021-11-28 18:04] adam-urbanczyk commented on #68
Thanks, I was referring to the parts of `tmp_filtered.pkl` though.

[2021-11-28 18:10] adam-urbanczyk commented on #64
I left a comment in #16814, though it seems to be lost. What is exactly the issue with running pywrap in the recipe? I've seen something about `compiler('CXX')` and the location of libclang. I don't see/understand the connection between those two things.

[2021-11-28 18:47] whophil commented on #64
Here is a link to the comment https://github.com/conda-forge/staged-recipes/pull/16814#discussion_r757929286

I ran into a number of issues with running pywrap in the recipe, but I can't say I know the exact problem. Broadly, I was never able to get pywrap to find all the correct includes - the ones from the conda build prefix - and have it generate the bindings correctly.

Initially I tried to us

[2021-11-29 21:34] bernhard-42 commented on #68
I compared a linux build with my setup and turns out that I had `pybind11` 2.8 instead of 2.6.
I switched to `pybind11` 2.6.2 and suddenly a new `pywrap` warning appeared (or I missed it yesterday):

[code]

I installed `rapidjson` via `mamba` and added the `mamba` env include path.

Now both pywrap and cmake are successful and the OCP package works.

The final build steps were:

[code]

[2021-11-29 21:47] adam-urbanczyk commented on #68
Interesting, rapidjson should be a dep of OCCT. Didn't you have it in the original env?

[2021-11-30 07:18] bernhard-42 commented on #68
Yes, maybe it was, I didn't pay too much attention when I (re-) installed ...

However, I don't think the pywrap error message around rapidjson appeared with pybind11 2.8.

Anyways, switching to pybind11 2.6 solved the problem for me. And it is the same version that you use for Linux.

[2021-11-30 07:22] bernhard-42 commented on #68
Are you planning to build both libs for MacOS in the future?

And maybe for the intel library, would it be possible to switch to RELEASE (as I did above). The current DEBUG version has 1.3GB unpacked.

Finally, will you support the latest occt 7.6.0 soon or do you maybe prefer to wait for 7.6.1

[2021-11-30 07:35] adam-urbanczyk commented on #68
Pywrap parsing does not use pybind11 at all - sounds unlikely that the version has impact.

Which intel library? OCP on mac is built with DEBUG - need to fix that.

Yes, I'm working on 7.6.

[2021-11-30 07:42] bernhard-42 commented on #68
OK, then I don't know why it suddenly worked. Anyways, it works :-)

yes, I meant OCP on Mac.

cool, thanks!

[2021-12-13 10:15] adam-urbanczyk commented on #60
Solved by #70

[2021-12-13 10:15] #60 closed

[2021-12-13 10:21] adam-urbanczyk commented on #62
Regarding the conda-forge building: would this help:

* https://github.com/CadQuery/OCP/blob/occt7.6/CMakeLists.txt
* https://github.com/CadQuery/OCP/blob/occt7.6/env.yml

It should be relatively trivial to use those files from within a conda recipe. I could backport them for 7.5.

[2021-12-18 20:31] whophil commented on #62
@adam-urbanczyk I can certainly give this a shot on the conda-forge builders.

However I still think it's a little easier to use pre-generated binding code if that can be made available in the releases. I haven't been able to devote a lot of time to the conda-forge recipe recently, but I do intend to get back to it.

[2021-12-22 20:40] adam-urbanczyk commented on #62
If add me, I can also work on that PR.

[2022-01-10 01:58] jmwright commented on #33
@nealie What's the status is this port? Is there any chance of CadQuery running on FreeBSD on an ARM 64 system?

[2022-01-17 13:38] nealie commented on #33
Unfortunately the committing of all the ports has stalled due to many, many dependencies and in the meantime I am no longer able to build OCP on FreeBSD. I have temporarily lost to will to continue banging my head against this, but hopefully I can try again once the versions of the required libraries in ports match those required by OCP.

[2022-02-04 15:11] russelmann opened #76 "No binding for SelectMgr_IndexedMapOfOwner type"
Calling method [EntityOwners](https://dev.opencascade.org/doc/occt-7.6.0/refman/html/class_a_i_s___interactive_context.html#a8cb62d753221eabc4b04f53585c1085f) of AIS_InteractiveContext requires data type [SelectMgr_IndexedMapOfOwner](https://dev.opencascade.org/doc/occt-7.6.0/refman/html/_select_mgr___indexed_map_of_owner_8hxx.html#a876693f57b4083b0db2e744396ca708f) which seems to be missing in mo

[2022-02-04 17:07] adam-urbanczyk commented on #76
Let's see.

[2022-02-10 17:24] adam-urbanczyk commented on #64
7.5.3 has the sources attached. Are you still planning to something with the recipe @whophil ?

[2022-02-16 20:45] bernhard-42 commented on #68
@adam-urbanczyk Don't want to open a separate thread now, just a question:

Would it be possible to build a Universal library for the Mac for 7.6.x (that works for ARM and Intel)?

A universal library looks like that:

[code]

I made a test and as soon as I add `-arch arm64 -arch x86_64` to the linker step of an example, It creates the universal (fat) binary.

[2022-02-17 04:47] whophil commented on #64
Thanks @adam-urbanczyk ! I will give the conda-forge recipe another shot, but I am short on time at the moment.

[2022-02-17 04:47] #64 closed

[2022-02-17 07:28] bernhard-42 commented on #68
fyi: https://dev.opencascade.org/content/testing-occt-apple-m1-arm64

[2022-02-18 17:42] adam-urbanczyk commented on #62
@whophil can you pass `/FORCE:MULTIPLE` to the linker? I think it can be done via `-DCMAKE_MODULE_LINKER_FLAGS` or `-DCMAKE_SHARED_LINKER_FLAGS`.

[2022-02-18 20:10] bernhard-42 commented on #68
Got it. I now ran pytest against OCP 7.5.3.

Again a segmentation fault for `tests/test_cadquery.py::TestCadQuery::testBrepImportExport`

[code]

The rest is working (fine with some warnings)

[2022-02-18 21:47] whophil commented on #62
@adam-urbanczyk thanks for the suggestion. Seems like `lld-link.exe` didn't like it:

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=461753&view=logs&j=240f1fee-52bc-5498-a14a-8361bde76ba0&t=06d62fd2-ab49-5add-9ee5-83b6882d7d2b&l=3196

[code]

It's not clear to me _which_ executable is complaining about bad syntax.

[2022-02-18 22:50] adam-urbanczyk commented on #62
Yes, I did run out of memory. Maybe it is not a problem on this particular toolchain.

[2022-02-18 22:53] adam-urbanczyk commented on #62
AFAICT lld-link 13 does support the `/force:multiple` option.

[2022-02-19 00:36] whophil commented on #62
It is indeed a problem on the conda-forge builders. (Out of memory when using default linker). I will check the LLVM linker version.

[2022-02-19 10:45] adam-urbanczyk commented on #62
Sill the same cryptic failure. I guess this needs to be checked locally.

[2022-02-20 09:43] bernhard-42 opened #79 "Expose OCC_VERSION"
I currently try to ensure that my newest version of _Jupyter-Cadquery_ will work with both OCCT 7.5 and 7.6.
Unfortunately, `Poly_PolygonOnTriangulation` which I use to discretise edges has a breaking change:

7.5 only has `Nodes()` and 7.6 doesn't have `Nodes()`, but `Node()` (see https://dev.opencascade.org/doc/occt-7.5.0/refman/html/class_poly___polygon_on_triangulation.html and https://dev.ope

[2022-02-20 10:59] bernhard-42 commented on #79
Upon recheck it turns out I missed that `Nodes()` actually exists in both "7.5" and "7.6".
However, having OCC_VERSION exposed would nevertheless be interesting to catch other breaking changes for clients of OCP ...

[2022-02-20 15:35] bernhard-42 commented on #79
Finally, I have to distinguish between OCCT 7.5 and 7.6

[code]

I have seen that in the past, the `poly.Node(i)` variant is  about 5-10x faster than `[index for index in poly.Nodes()]`. Since this is called very often for large objects, it is an improvement I clearly want to have with the new API in 7.6.

`hasattr(poly, "Node")` does the trick for now, however, I still feel OCC_VERSION would be n

[2022-02-21 04:52] whophil commented on #62
@adam-urbanczyk the conda-forge build is passing now, please take a look when you have a chance. I am not fully convinced that the passing build is repeatable, but if it passed once we are definitely close.

[2022-02-22 17:15] adam-urbanczyk commented on #62
Great, I'll take a look this week. What was the trick to make it work on win?

[2022-02-22 18:04] whophil commented on #62
Unfortunately, I don't have a single answer. I did a number of things including:
- Adding `/machine:x64` to the linker flags - this linker flag was there when I didn't specify `/FORCE:MULTIPLE`, but for some reason disappeared when specifying it.
- Removing `-j %CPU_COUNT%` - in local testing, it seems to run parallel regardless of if `-j` is specified. It seems that `-j` isn't a flag `nmake` unde

[2022-02-22 18:24] adam-urbanczyk commented on #62
Done

[2022-02-25 18:49] looooo opened #80 "there is already a library called ocp, maybe calling this library occp to avoid naming conflicts?"
There is already a library called ocp:
https://github.com/OpenCollaborationPlatform/OCP

To avoid naming-conflicts it might be a good idea to rename this library to something different.

[2022-02-25 19:35] adam-urbanczyk commented on #80
Hm, I'd rather not do it at this point of time unless there is some critical problem. I see rather limited risk of confusion (go versus python / data structures versus OCCT binding).

[2022-02-28 20:52] whophil commented on #62
Here is the converted feedstock https://github.com/conda-forge/ocp-feedstock

Thanks @adam-urbanczyk ! Closing this one out.

[2022-02-28 20:52] #62 closed

[2022-03-01 05:26] whophil opened #81 ".pkl files can be removed from source releases"
It seems all source releases have `tmp.pkl` and `tmp_filtered.pkl`. I believe these can be removed to shrink the size of the source releases.

[2022-03-03 06:46] adam-urbanczyk commented on #81
I use them for debugging and don't want to add an extra file (i.e. sources without pkl) to manage.

[2022-03-03 19:44] bernhard-42 opened #82 "BinTools.Read_s not working with BytesIO stream"
I'd like to serialize OCP objects and found that BinTools is faster than BRepTools. Do I'd like to give `BinTools` a try.

Storing as a file works:

[code]

However, using `BytesIO` stream doesn't:

[code]

fails with

[code]

What am I doing wrong?

Btw., it works with an `BRepTools` and `BytesIO` stream:

[code]

[2022-03-03 20:06] bernhard-42 commented on #82
I compared the file written by the file version or BinTools.Write_s and the buffer, and it turns out that the BytesIO buffer seems to have omitted the bytes 1024, 2048, 3072, ...
Could it be that the BytesIO stream works with a 1024 byte buffer and something is going wrong with reading the chunks?

[2022-03-03 20:07] whophil commented on #82
I don't know if this will fix your problem, but in my apps I successfully use `BinTool_ShapeSet` (not the `BinTools` static methods).

This isn't a complete example, but you should get the gist of it.

[code]

[2022-03-03 20:31] bernhard-42 commented on #82
Thanks @whophil

Trying

[code]

I get

[code]

I just checked, I use OCP 7.5.2

[2022-03-03 20:36] bernhard-42 commented on #82
@whophil I quickly created a new environment with cadquery=master and OCP=7.5.3
In this environment your code works. So it's a bug in 7.5.2

[2022-03-03 20:44] #82 closed

[2022-03-07 18:54] bernhard-42 opened #83 "BinTools.Read_s BRepTools.Read_s broken on Mac for io stream"
I use OCP 7.5.3 on an Intel Mac, where OCP got installed via `conda install ... cadquery=master`

[code]

Note, this is unrelated to https://github.com/CadQuery/OCP/issues/82 which was an issue on Linux and is resolved

## BinTools

`BinTools.Read_s` crashes with a segmentation fault.

[code]

The same code works under Linux.

And `BinTools.Read_s` works on the Intel Mac when reading from file:

[

[2022-03-08 00:21] whophil commented on #83
`ocp` is available on conda-forge now, could you please verify if your envs have `ocp` from the `cadquery` channel or `conda-forge` channel?

[2022-03-08 07:21] adam-urbanczyk commented on #83
@whophil I don't think that 7.6 is available via conda-forge.

@bernhard-42 can you debug this - provide a backtrace and a diff of the stream vs file?

[2022-03-08 08:01] bernhard-42 commented on #83
@whophil Since 7.5.3 is installed with conda, I of course used -c with both channels. So it is the official version
However, all Mac M1 are my builds, but the issue is about 7.5.3 on Intel

[2022-03-08 08:24] bernhard-42 commented on #83
@adam-urbanczyk Happy to help, however I am not so familiar with lldb.

I would run python, load all libs, then attach lldb to python, continue and run the failing code in python.
Would ‘thread backtrace’ after crash be the right thing then?
Would it help when OCP lib is in Release mode?
And how to get backtrace in the second case when it doesn’t crash?

[2022-03-08 18:27] Jojain opened #84 "AIS_Dimension binding missing"
Hello,
It seems that AIS_Dimension and it's subclasses (AIS_AngleDimension , AIS_DiameterDimension, AIS_LengthDimension, AIS_RadiusDimension) are not binded. Is there a reason for that ? And if not would it be possible to add them ?

[2022-03-09 19:06] bernhard-42 commented on #83
hmm, this is pretty frustrating. I have two environments, one created with conda on March 5th (at least the file timestamps suggest that) and one today.

`jcq3` on the left was created in the usual cadquery way

[code]

`test-ocp` on the right was created via

[code]

![image](https://user-images.githubusercontent.com/954408/157512752-65e55fc1-3af3-4fa5-a784-14df27dfd364.png)

These are really sub

[2022-03-09 19:32] whophil commented on #83
The broken environment `jcq3` has a different VTK _build_ than the other two working environments (but same version). I don't know if this is causing your segfault, though.

I occasionally end up with "bad" environments when installing new packages to or upgrading an existing environment, where problems can usually be fixed by just creating a brand new environment.

A few things which may be helpf

[2022-03-09 19:40] Jojain commented on #84
Looks like it changed name, I was misslooking in 7.3.0 version of OCCT.
In 7.7.0.dev online doc these class are now under the package PrsDim as PrsDim_LengthDimension etc. However it seems they aren't available as well.

[2022-03-09 19:40] adam-urbanczyk commented on #84
The reason was likely failure to compile the bindings including those classes.

[2022-03-15 21:56] whophil commented on #83
@bernhard-42 FWIW, the`cadquery` project is still tested against the `ocp` package which comes from the `cadquery` channel.

[2022-04-12 05:31] whophil opened #85 "7.6 Release?"
Is there work to be done before an official 7.6 release?

[2022-04-13 20:23] roipoussiere opened #86 "Including ocp wheels in the release"
@fpq443 and I worked on building and publishing ocp wheels in the CI these last days, based on a first draft published here: https://github.com/CadQuery/cadquery/issues/1048.

Publishing ocp wheels will really facilitate the project installation (https://github.com/CadQuery/cadquery/issues/153).

We don't have an Azure account so we used Github Actions, but the syntax seems to be identical, so I b

[2022-04-14 00:01] whophil commented on #86
I am a conda guy, not a wheels guy, so sorry if these are stupid questions:
- Does this bundle/vendor OCCT libraries? I see a single `OCP.so` file. Or are OCCT shared libs not a runtime dependency of OCP?
- I see a `vtkmodules/` folder, but `ldd OCP.*.so`, shows that the OCP library only references those found in `ocpvtk.lib`. This appears to be made possibly via `RPATH`. What is the purpose of th

[2022-04-14 01:38] fpq473 commented on #86
I am new to VTK and this bundling approach so hopefully these answers are helpful:

- I initially did not bundle `vtkmodules/` but observed the following bad behavior using the official `vtk` wheel and an ocp-only wheel (one with `OCP.so` with auditwheel applied):

[code]

There is a cryptic message, and the generated xml (VTKFile PolyData?) contains zero points, verts, lines, etc.  This is on Lin

[2022-04-14 13:26] whophil commented on #86
@fpq473 thanks for the details.

When you tried this with the official `vtk` wheel, did you use VTK 9.0.1, or VTK 9.1.0 (the latest wheel)? The version of OCCT you are testing with (7.5.3) would have been built with VTK 9.0.1.

For what it's worth, this is exactly the type of issue that `conda` (and more specifically the `conda-forge` ecosystem) seek to alleviate. `pip` is clearly not built to sup

[2022-04-14 16:47] fpq473 commented on #86
@whophil I tried with VTK 9.1.0 wheel, and I just tried again with VTK 9.0.2 wheels.  Both give the same bad behavior described above.  There is no VTK 9.0.1 wheel in PyPI.  Do you suspect a version mismatch as the cause -- do you know where I can find a 9.0.1 wheel?  Happy to dig in further with your guidance.

Point taken about conda.

[2022-04-14 17:09] whophil commented on #86
@fpq473 Do these work? Python 3.6 through 3.8.
https://pypi.org/project/vtk/9.0.1/#files

[2022-04-14 17:54] fpq473 commented on #86
@whophil Ah thanks, I was on 3.9.  Using 3.8, I made an ocp-only wheel (which still bundles `libvtk*` under `ocp.libs`), installed `vtk==9.0.1` (which also has `libvtk*`), and still get this `vtkDemandDrivenPipeline` error:
[code]
Anything else worth trying?

[2022-04-14 22:56] fpq473 commented on #86
@whophil Just wanted to note a seemingly successful attempt at an ocp-only wheel on Linux.

I start with `OCP.so` in a wheel and apply auditwheel to bundle libraries, except I modify auditwheel not to bundle `libvtk*`.  I then set rpath on `OCP.so` to `$ORIGIN/ocp.libs:$ORIGIN/vtkmodules` (adding the second term).  Installing the resulting wheel with vtk==9.0.1 seems to work fine.

Things *almost*

[2022-05-25 00:18] crides opened #87 "segfault on loft"
I don't have an minimal example yet, but this is what caused the issue:

[code]

Right before the `bar` creation:
![maim-2022 05 24 19 07 27](https://user-images.githubusercontent.com/15631555/170152311-f960f7e1-86b3-48a6-855b-16e86d2c40d9.png)

Right before the `.loft` call:
![maim-2022 05 24 19 18 08](https://user-images.githubusercontent.com/15631555/170152498-755809a0-c2e4-46ee-8f1d-1efa6a161f

[2022-05-25 19:11] whophil commented on #85
@adam-urbanczyk any thoughts on this? The conda-forge OCP feedstock depends on an official GitHub release on this repo

[2022-05-25 19:34] adam-urbanczyk commented on #85
My plan was to release this after CQ 2.2 release + some additional time for testing.

[2022-07-02 19:31] voneiden opened #89 "Non-void methods using call by reference"
There are quite a few methods in OCP that use call by reference but return a value instead of void. The current implementation of pywrap classifies functions as call by reference only when the return is void.

One example in OCP is the GeomLib_Tool.Parameter_s function - the computation result is stored in the 4th argument and the function returns a Standard_Boolean indicating whether the function

[2022-07-10 00:51] crides commented on #87
Somehow I have forgotten to revisit this, sorry.

It seems that the issue occurs if I put another `toPending()` before adding the second wire. Not needing a second call to that seems.. interesting, though adding it anyway shouldn't cause an outright segfault either?

[2022-07-27 21:53] whophil opened #90 "Breaking up into smaller libs?"
Testing the waters with this idea.

When building this library on the conda-forge CI machines, the Windows builds intermittently run out of memory. I _think_ that breaking up the library into smaller individual libraries would help solve this issue.

I don't know if this possible.
I don't know if there are performance implications to doing so.
I also don't know where this would be broken down - pe

[2022-09-07 11:12] kiufta opened #91 "Errors in bindgen"
I'm using GCC 12.2, but this can't explain all the errors I'm getting from bindgen:
[code]

[2022-09-07 15:41] kiufta opened #92 "deprecated declarations build error"
[code]
My option `-Wno-dev` is useless, since only `-Wno-deprecated-declarations` would be necessary:
[code]

used pybind11: 2.10.0

[2022-09-25 12:43] kiufta opened #94 "Update process / Where to achieve compatibility"
How does the update process work? I would like to try out opencascade 7.7.0 without bothering you too much.

After doing this dirty trick before building OCP
[code]
how can there be errors? Where do they come from?

[2022-09-25 19:19] adam-urbanczyk commented on #94
You'll need to figure it out on your own based one the CI pipeline. Expect no support.

[2022-09-25 19:19] #94 closed

[2022-09-27 05:32] adam-urbanczyk commented on #89
@voneiden do you need some specific function(s)? If so, I can add a workaround for 7.6.3. Eventually, I'd like to merge your PR or develop something similar, but not  in the nearest feature.

[2022-09-27 07:21] voneiden commented on #89
@adam-urbanczyk I'm good as is at the moment thanks, no need to include temporary workarounds.  `Parameter_s` could be interesting to have available at some point but priority is minimal for me.

[2022-11-06 17:17] ns6022 opened #95 "pickle OCP objects"
Firstly - thank you very much for the work that you have put into this project.

Previously I have used PythonOCC (bindings generated with SWIG) which allows objects to be pickled e.g. https://github.com/tpaviot/pythonocc-demos/blob/master/examples/core_shape_pickling.py

When pickling OCP objects, I receive the following error:
TypeError: cannot pickle 'OCP.TopoDS.TopoDS_Shape' object

Are there

[2022-11-06 18:42] adam-urbanczyk commented on #95
Hey, no plans to implement it. This is a duplicate of #48. TL;DR use the brep format for (de)serializing TopoDS_Shape objects.

[2022-11-06 18:42] #95 closed

[2022-11-23 20:06] adam-urbanczyk commented on #85
@whophil plans do change, so there you go: https://github.com/CadQuery/OCP/releases/tag/7.6.3.0

[2022-11-23 20:07] #85 closed

[2022-11-23 20:17] whophil commented on #85
Thanks @adam-urbanczyk ! If you could provide the binding code as release artifacts as you did with 7.5.3 (e.g., [OCP_src_ubuntu-18.04.zip](https://github.com/CadQuery/OCP/releases/download/7.5.3.0/OCP_src_ubuntu-18.04.zip), I can start the conda-forge build.

[2022-11-23 20:44] adam-urbanczyk commented on #85
Done